<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    {{! <link rel="stylesheet" href="../styles/index.css"> }}

    <!-- boxicons cdn -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- landing -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
    ></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body class="light">

    <header>

      <div class="logo-container">
        <p class="logo-text">EA</p>
        <a class="logo-item" href="#home"><img
            src="../icons/tire.png"
            alt=""
          /></a>
      </div>

      <ul class="navlist">
        <li><a href="http://localhost:3000/home">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="http://localhost:3000/about_us">About Us</a></li>
        <li><a href="#contact-us">Our Team</a></li>
      </ul>

      <div class="btn-container">

        <div class="menu-container">
          <i class="bx bx-menu-alt-right"></i>
        </div>

        <div class="profile-container">
          <i class="bx bx-user"></i>
        </div>

        <div class="search-container">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search-alt"></i>
        </div>

        <div class="theme-container">
          <span class="default">Light</span>
          <i class="bx bx-chevron-right"></i>

          <ul class="theme-list">
            <li class="item">Light</li>
            <li class="item">Dark</li>
            <li class="item">Game</li>
          </ul>
        </div>

        <div class="cart-container">
          <i class="bx bx-cart"></i>
        </div>

      </div>

    </header>

    <div class="box box1">
      <h1 class="main-title">Vision Mission</h1>
      <div class="main-body">
        <div class="title">
          <h3>Vision</h3>
        </div>
        <div class="body">
          <p>EA Car Accessories aims to be one of the leading car accessories
            stores worldwide.</p>

          <div class="title">
            <h3>Mission</h3>
          </div>
          <div class="body">
            <p>To provide high quality car accessories and parts to our valued
              customers and establish a brand that the community will look
              forward to when it comes to car accessories and parts</p>
          </div>
        </div>
      </div>
    </div>

    <div class="box box2">
      <h1 class="main-title">About Us</h1>
      <div class="main-body">
        <div class="title">
          <h3>About Us</h3>
        </div>
        <div class="body">
          <p>EA CAR ACCESSORIES was founded and established in 2023. We started
            as a small shop and sell a few car accessories. Along the way, we
            expanded our product line up and provided the latest accessories to
            the community. The growth is exponential as we started campaigning
            on social media that helps the company reach thousands of clients
            abroad.
          </p>
        </div>
      </div>
    </div>

    <div class="box box3">
      <h1 class="main-title">Purpose</h1>
      <div class="main-body">
        <div class="title">
          <h3>Purpose</h3>
        </div>
        <div class="body">
          <p>The purpose of a car accessories e-commerce website is to provide
            customers with a convenient, accessible, and efficient platform to
            explore, select, and purchase car accessories while offering
            competitive pricing, reliable service, and a positive shopping
            experience.
          </p>
        </div>
      </div>
    </div>

    <div class="box box4">
      <h1 class="main-title">Goal of this Website</h1>
      <div class="main-body">
        <div class="title">
          <h3>Goal of this Website</h3>
        </div>
        <div class="body">
          <p>To sell products/services and create seamless, intuitive user
            experience for customers.

          </p>
        </div>
      </div>
    </div>

    <div class="box box5">
      <h1 class="main-title">Benefits</h1>
      <div class="main-body">
        <div class="title">
          <h3>Benefits</h3>
        </div>
        <div class="body">
          <p>1. Product Information and Reviews: Detailed product descriptions,
            specifications, and customer reviews can be provided on the website,
            helping customers make informed purchasing decisions and increasing
            their confidence in the quality and compatibility of the
            accessories.
            <br />
            <br />
            <br />
            <br />
            2. Competitive Pricing: Online retailers often offer competitive
            prices due to reduced overhead costs compared to brick-and-mortar
            stores. Customers can find better deals and compare prices easily
            across different websites.

          </p>
        </div>
      </div>
    </div>

    <div class="box box6">
      <h1 class="main-title">Scope</h1>
      <div class="main-body">
        <div class="title">
          <h3>Scope</h3>
        </div>
        <div class="body">
          <p>1. User Registration and Authentication: Allow users to create
            accounts, login, and manage their profile information.
            <br />
            <br />
            2. Shopping Cart: Enable users to add products to their cart, view
            the cart contents, and proceed to checkout.
            <br />
            <br />
            3. Order Management: Track and manage orders, including order
            history, status updates, and cancellation or returns.
            <br />
            <br />
            4. Payment Processing: Integrate with payment gateways to securely
            process payments from various methods such as credit cards, digital
            wallets, or bank transfers.
            <br />
            <br />5. Customer Reviews and Ratings: Allow customers to leave
            reviews and ratings for products, contributing to social proof and
            helping other users make informed decisions.
            <br />
            <br />
            6. Search and Filtering: Implement search functionality to help
            users find products based on keywords, categories, or filters such
            as price range, brand, or customer ratings.
            <br />
            <br />7. Mobile Responsiveness: Ensure the website is optimized for
            mobile devices, providing a seamless browsing and shopping
            experience across different screen sizes.

          </p>
        </div>
      </div>
    </div>
    <script src="../index.js"></script>
  </body>
</html>