<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    {{! <link rel="stylesheet" href="../styles/index.css"> }}

    <!-- boxicons cdn -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900;1000&display=swap"
      rel="stylesheet"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&display=swap"
      rel="stylesheet"
    />

    <!-- landing -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"
    ></script>
    <script src="https://unpkg.com/scrollreveal"></script>
  </head>
  <body class="light">

    <header>

      <div class="logo-container">
        <p class="logo-text">EA</p>
        <a class="logo-item" href="#home"><img
            src="../icons/tire.png"
            alt=""
          /></a>
      </div>

      <ul class="navlist">
        <li><a href="http://localhost:3000/home">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="http://localhost:3000/about_us">About Us</a></li>
        <li><a href="#contact-us">Our Team</a></li>
      </ul>

      <div class="btn-container">

        <div class="menu-container">
          <i class="bx bx-menu-alt-right"></i>
        </div>

        <div class="profile-container">
          <i class="bx bx-user"></i>
        </div>

        <div class="search-container">
          <input type="text" placeholder="Search..." />
          <i class="bx bx-search-alt"></i>
        </div>

        <div class="theme-container">
          <span class="default">Light</span>
          <i class="bx bx-chevron-right"></i>

          <ul class="theme-list">
            <li class="item">Light</li>
            <li class="item">Dark</li>
            <li class="item">Game</li>
          </ul>
        </div>

        <div class="cart-container">
          <i class="bx bx-cart"></i>
        </div>

      </div>

    </header>

    <div class="box box2">
      <h1 class="main-title">About Us</h1>
      <div class="main-body">
        <div class="title">
          <h3>About Us</h3>
        </div>
        <div class="body">
          <p>
            <strong>EA CAR ACCESSORIES</strong>
            was founded and established in 2023. We started as a small shop and
            sell a few car accessories. Along the way, we expanded our product
            line up and provided the latest accessories to the community. The
            growth is exponential as we started campaigning on social media that
            helps the company reach thousands of clients abroad.
          </p>
        </div>
      </div>
    </div>

    <div class="box box1">
      {{! <h1 class="main-title">Vision Mission</h1> }}
      <div class="main-body">
        <div class="title">
          <h3>Vision</h3>
        </div>
        <div class="body">
          <p>
            EA Car Accessories aims to be one of the leading car accessories
            stores worldwide.</p>

          <div class="title">
            <h3>Mission</h3>
          </div>
          <div class="body">
            <p>To provide high quality car accessories and parts to our valued
              customers and establish a brand that the community will look
              forward to when it comes to car accessories and parts</p>
          </div>
        </div>
      </div>
    </div>

    <div class="box box3">
      <h1 class="main-title">Purpose</h1>
      <div class="main-body">
        <div class="title">
          <h3>Purpose</h3>
        </div>
        <div class="body">
          <p>The purpose of a car accessories e-commerce website is to provide
            customers with a convenient, accessible, and efficient platform to
            explore, select, and purchase car accessories while offering
            competitive pricing, reliable service, and a positive shopping
            experience.
          </p>
        </div>
      </div>
    </div>

    <div class="pre-footer">
      <div class="top-con">
        <h1 style="text-transform: uppercase;">Let's Dive In.</h1>
      </div>
      <div class="bottom-con">
        <div class="left-con">
          <h1 style="text-transform: uppercase; font-size: 1.2rem">Contact or
            Visit Us</h1>

          <div class="location-con">
            <i class="bx bx-current-location"></i>
            <h3>15.953040, 120.356164. <br /> Matagdem, Pangasinan</h3>
          </div>
          <div class="email-con">
            <i class="bx bxs-envelope"></i>
            <h3>contactus.ea@gmail.com</h3>
          </div>
          <div class="phone-con">
            <i class="bx bxs-phone"></i>
            <h3>0926-012-7147</h3>
          </div>
        </div>
        <div class="right-con">
          <h1
            style="text-transform: uppercase; font-size: 1.2rem; word-spacing: .3rem;"
          >our hours</h1>
          <div class="day">
            {{! <h3>Monday</h3>
            <h3>Tuesday</h3>
            <h3>Thursday</h3>
            <h3>Friday</h3>
            <h3>Saturday</h3> }}

            <div class="monday">
              <h3>Monday</h3>
              <i>8:00 AM - 6:00 PM</i>
            </div>

            <div class="tuesday">
              <h3>Tuesday</h3>
              <i>8:00 AM - 6:00 PM</i>
            </div>

            <div class="thursday">
              <h3>Thurday</h3>
              <i>8:00 AM - 6:00 PM</i>
            </div>

            <div class="friday">
              <h3>Friday</h3>
              <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;8:00 AM - 6:00 PM</i>
            </div>

            <div class="saturday">
              <h3>Saturday</h3>
              <i>8:00 AM - 6:00 PM</i>
            </div>

          </div>
          <div class="socmeds_of_site">
            <h1>Let's stay connected.</h1>
            <div class="links">
              <i class="bx bxl-facebook-circle"></i>
              <i class="bx bxl-instagram-alt"></i>
              <i class="bx bxl-twitter"></i>
              <i class="bx bxl-twitch"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2523.201261644765!2d120.35738619590622!3d15.949821158175567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x339144a596b429f3%3A0xca348a3dfe7bc3c5!2sMatagdem%2C%20San%20Carlos%20City%2C%20Pangasinan!5e1!3m2!1sen!2sph!4v1684899051545!5m2!1sen!2sph"
        width="50%"
        height="500"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>

      <iframe
        src="https://www.google.com/maps/embed?pb=!4v1684899285446!6m8!1m7!1sA25NJg17-g8uazjJngTbKQ!2m2!1d15.95293899593211!2d120.3561180000862!3f5.91263763731115!4f-2.953582242756383!5f0.7820865974627469"
        width="50%"
        height="500"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>

    <div class="footer">

    </div>

    <script src="../index.js"></script>
    <script>

      const sr = ScrollReveal({ distance: "40px", duration: 2500, reset: false,
      }); sr.reveal(".box1", { delay: 200, origin: "top" }); sr.reveal(".box2",
      { delay: 200, origin: "left" }); sr.reveal(".box3", { delay: 200, origin:
      "right" }); sr.reveal(".box4", { delay: 200, origin: "left" });
      sr.reveal(".box5", { delay: 200, origin: "right" }); sr.reveal(".box6", {
      delay: 200, origin: "left" });
    </script>
  </body>
</html>