<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->

    <section class="cart">
      <div class="box">
        <div class="x-icon-for-cart">x</div>

        <div class="top">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom">
          <h3>Car Engine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, corporis!
          </p>
          <h4>4x</h4>
          <button type="submit">Checkout</button>
          <button type="submit">Edit</button>
        </div>
      </div>

      <div class="box">
        <div class="x-icon-for-cart">x</div>

        <div class="top">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom">
          <h3>Car Engine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, corporis!
          </p>
          <h4>4x</h4>
          <button type="submit">Checkout</button>
          <button type="submit">Edit</button>
        </div>
      </div>

      <div class="box">
        <div class="x-icon-for-cart">x</div>

        <div class="top">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom">
          <h3>Car Engine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, corporis!
          </p>
          <h4>4x</h4>
          <button type="submit">Checkout</button>
          <button type="submit">Edit</button>
        </div>
      </div>

      <div class="box">
        <div class="x-icon-for-cart">x</div>

        <div class="top">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom">
          <h3>Car Engine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, corporis!
          </p>
          <h4>4x</h4>
          <button type="submit">Checkout</button>
          <button type="submit">Edit</button>
        </div>
      </div>

      <div class="box">
        <div class="x-icon-for-cart">x</div>

        <div class="top">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom">
          <h3>Car Engine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, corporis!
          </p>
          <h4>4x</h4>
          <button type="submit">Checkout</button>
          <button type="submit">Edit</button>
        </div>
      </div>

      <div class="box">
        <div class="x-icon-for-cart">x</div>

        <div class="top">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom">
          <h3>Car Engine</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Necessitatibus, corporis!
          </p>
          <h4>4x</h4>
          <button type="submit">Checkout</button>
          <button type="submit">Edit</button>
        </div>
      </div>
    </section>

    <%- include("partials/footer") %>
    <script src="../index.js" src="jquery-3.6.4.min.js"></script>
  </body>
</html>
