<%- include("partials/head") %> <%- include("partials/header") %>

<section class="faq">
  <h1>FREQUENTLY ASKED QUESTIONS (FAQ)</h1>
  <br /><br />
  <h3>1. How can I place an order on Extraordinary AutoParts?</h3>
  <p>
    <br />
    To place an order, simply browse our website and add the desired items to your list and cart. Once you have finished selecting your products, proceed to the checkout page. Provide the necessary shipping and payment information, review your order, and complete the purchase. If you encounter any difficulties, our customer support team is ready to assist you.
  </p>
  <br />
  <h3>2. What payment methods do you accept?</h3>
  <p>
    <br />
    We accept various payment methods, including major credit cards, debit cards, GCash, and PayPal. All transactions are securely processed to ensure the safety of your personal and financial information.
  </p>
  <br />
  <h3>3. How long does shipping take?</h3>
  <p>
    <br />
    Shipping times may vary depending on your location and the specific product. We strive to process and ship orders as quickly as possible. Once your order is confirmed, you will receive a shipping confirmation email with a tracking number to monitor the progress of your package.

  </p>
  <br />
  <h3>4. Do you offer international shipping?</h3>
  <p>
    <br />
    Unfortunately not.
  </p>
  <br />
  <h3>5. What is your return policy?</h3>
  <p>
    <br />
    We want you to be completely satisfied with your purchase. If you receive a defective or incorrect item, please contact our customer support within 7 days of delivery to arrange for a return or exchange.
  </p>
  <br />
  <h3>
    6. Can I track the status of my order?
  </h3>
  <p>
    <br />
    Yes, once your order is shipped, you will receive a confirmation email containing a tracking number. You can use this tracking number to monitor the progress of your shipment through the designated shipping carrier's website.
  </p>
  <br />
  <h3>7. Do you offer customer support?</h3>
  <p>
    <br />
    Absolutely! We have a dedicated customer support team available to assist you with any inquiries or concerns you may have. You can reach us through email and phone. We are committed to providing prompt and helpful assistance to ensure your satisfaction. If you have any further questions or need assistance, please don't hesitate to reach out to us. We are here to help!
  </p>
</section>
<%- include("partials/footer") %>
