<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->

    <section class="our_team_section">
      <body>
        <article class="flow">
          <h1>Our Team</h1>
          <p>Hover or focus over each card to see the person’s job title slide in and the colour treatment change.</p>
          <div class="team">
            <ul class="auto-grid" role="list">
              
              
              <li>
                <a href="#" target=_blank" class="profile">
                  <h2 class="profile__name">Mica</h2>
                  <p class="pos">Designer</p>
                  <img alt="Profile shot for Marc Dixon" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkhhaXJMb3dlciI6IjEwIiwiQm9keSI6IjEiLCJFeWVzIjoiOCIsIk1vdXRoIjoiNyIsIlNvY2tzIjoiMTIiLCJTaG9lcyI6IjMiLCJHbG92ZXMiOiIyIiwiUGFudHMiOiI1IiwiVG9wIjoiMTQiLCJIYWlyIjoiMzEiLCJleWVzVG9uZSI6ImY0MWJkZSIsImV5ZXNUb25lMiI6ImQwYjBlOCIsIm1hc2tUb25lIjoiOTIwYTM5IiwiaGFpclRvbmUiOiJiZjIzNmIiLCJoYWlyVG9uZTIiOiI2NDMxNjAiLCJ1bmRlcndlYXJUb25lIjoiMjdkYWNhIiwidW5kZXJ3ZWFyVG9uZTIiOiI0ZGVmOWQiLCJwYW50c1RvbmUiOiJlYWI3Y2EiLCJwYW50c1RvbmUyIjoiNDdlYzcwIiwidG9wVG9uZSI6ImEzYmI0YyIsInRvcFRvbmUyIjoiYTkyNjUzIiwid2luZ3NUb25lIjoiZDJlMjQzIiwid2luZ3NUb25lMiI6Ijc5NjcwZCIsInNob2VzVG9uZSI6IjMyZDUwMiIsInNvY2tzVG9uZSI6IjAzY2FiZCIsInNvY2tzVG9uZTIiOiJiMWNmZjQiLCJnbG92ZXNUb25lIjoiOWVmNjVmIiwiZ2xvdmVzVG9uZTIiOiJmMjJiN2QiLCJoYXRUb25lIjoiMTQ3NDI0IiwiaGF0VG9uZTIiOiIyOWY1NWEiLCJjYXBlVG9uZSI6ImZiNzk4YyIsImNhcGVUb25lMiI6ImY0MzE4YSIsImJlbHRUb25lIjoiNTBlOWFlIiwiamFja2V0VG9uZSI6IjczY2E0YiIsImphY2tldFRvbmUyIjoiMTdiMzFjIiwibmVja1RvbmUiOiI2ODAyY2QiLCJuZWNrVG9uZTIiOiJmMDk5NjYifQ==/1/show.png" />
                </a>
              </li>
              <li>
                <a href="#" class="profile">
                  <h2 class="profile__name">Guian</h2>
                  <p class="pos">Researcher</p>
                  <img alt="Profile shot for Chad" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkV5ZXMiOiIxIiwiU29ja3MiOiIxNCIsIkdsb3ZlcyI6IjUiLCJQYW50cyI6IjUiLCJUb3AiOiIzIiwiSGFpciI6IjYiLCJleWVzVG9uZSI6ImY0MWJkZSIsImV5ZXNUb25lMiI6ImQwYjBlOCIsIm1hc2tUb25lIjoiOTIwYTM5IiwiaGFpclRvbmUiOiJiZjIzNmIiLCJoYWlyVG9uZTIiOiI2NDMxNjAiLCJ1bmRlcndlYXJUb25lIjoiMjdkYWNhIiwidW5kZXJ3ZWFyVG9uZTIiOiI0ZGVmOWQiLCJwYW50c1RvbmUiOiJlYWI3Y2EiLCJwYW50c1RvbmUyIjoiNDdlYzcwIiwidG9wVG9uZSI6ImEzYmI0YyIsInRvcFRvbmUyIjoiYTkyNjUzIiwid2luZ3NUb25lIjoiZDJlMjQzIiwid2luZ3NUb25lMiI6Ijc5NjcwZCIsInNob2VzVG9uZSI6IjMyZDUwMiIsInNvY2tzVG9uZSI6IjAzY2FiZCIsInNvY2tzVG9uZTIiOiJiMWNmZjQiLCJnbG92ZXNUb25lIjoiOWVmNjVmIiwiZ2xvdmVzVG9uZTIiOiJmMjJiN2QiLCJoYXRUb25lIjoiMTQ3NDI0IiwiaGF0VG9uZTIiOiIyOWY1NWEiLCJjYXBlVG9uZSI6ImZiNzk4YyIsImNhcGVUb25lMiI6ImY0MzE4YSIsImJlbHRUb25lIjoiNTBlOWFlIiwiamFja2V0VG9uZSI6IjczY2E0YiIsImphY2tldFRvbmUyIjoiMTdiMzFjIiwibmVja1RvbmUiOiI2ODAyY2QiLCJuZWNrVG9uZTIiOiJmMDk5NjYifQ==/1/show.png" />
                </a>
              </li>
              <li>
                <a href="#" target=_blank" class="profile">
                  <h2 class="profile__name">Arabella</h2>
                  <p class="pos">Asst. Project Manager</p>
                  <img alt="Profile shot for Nicholas Castro" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkhhaXJMb3dlciI6IjUiLCJFeWVzIjoiMSIsIlNvY2tzIjoiMTUiLCJTaG9lcyI6IjEiLCJHbG92ZXMiOiIzIiwiUGFudHMiOiIyIiwiVG9wIjoiMTUiLCJIYWlyIjoiMjciLCJleWVzVG9uZSI6ImY0MWJkZSIsImV5ZXNUb25lMiI6ImQwYjBlOCIsIm1hc2tUb25lIjoiOTIwYTM5IiwiaGFpclRvbmUiOiJiZjIzNmIiLCJoYWlyVG9uZTIiOiI2NDMxNjAiLCJ1bmRlcndlYXJUb25lIjoiMjdkYWNhIiwidW5kZXJ3ZWFyVG9uZTIiOiI0ZGVmOWQiLCJwYW50c1RvbmUiOiJlYWI3Y2EiLCJwYW50c1RvbmUyIjoiNDdlYzcwIiwidG9wVG9uZSI6ImEzYmI0YyIsInRvcFRvbmUyIjoiYTkyNjUzIiwid2luZ3NUb25lIjoiZDJlMjQzIiwid2luZ3NUb25lMiI6Ijc5NjcwZCIsInNob2VzVG9uZSI6IjMyZDUwMiIsInNvY2tzVG9uZSI6IjAzY2FiZCIsInNvY2tzVG9uZTIiOiJiMWNmZjQiLCJnbG92ZXNUb25lIjoiOWVmNjVmIiwiZ2xvdmVzVG9uZTIiOiJmMjJiN2QiLCJoYXRUb25lIjoiMTQ3NDI0IiwiaGF0VG9uZTIiOiIyOWY1NWEiLCJjYXBlVG9uZSI6ImZiNzk4YyIsImNhcGVUb25lMiI6ImY0MzE4YSIsImJlbHRUb25lIjoiNTBlOWFlIiwiamFja2V0VG9uZSI6IjczY2E0YiIsImphY2tldFRvbmUyIjoiMTdiMzFjIiwibmVja1RvbmUiOiI2ODAyY2QiLCJuZWNrVG9uZTIiOiJmMDk5NjYifQ==/1/show.png" />
                </a>
              </li>
              <li>
                <a href="#" target=_blank" class="profile">
                  <h2 class="profile__name">Ericson</h2>
                  <p class="pos">Project Manager</p>
                  <img alt="Profile shot for Ruby Morris" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkV5ZXMiOiIxOCIsIk1vdXRoIjoiMTAiLCJTb2NrcyI6IjEwIiwiU2hvZXMiOiI0IiwiR2xvdmVzIjoiMiIsIlBhbnRzIjoiMSIsIlRvcCI6IjgiLCJIYWlyIjoiOCIsImV5ZXNUb25lIjoiODg4NTc4IiwiZXllc1RvbmUyIjoiODE0N2U1IiwibWFza1RvbmUiOiIzMTQ0NTIiLCJoYWlyVG9uZSI6ImM5MTUwYyIsImhhaXJUb25lMiI6IjExZmI3YiIsInVuZGVyd2VhclRvbmUiOiIzOGRiOWUiLCJ1bmRlcndlYXJUb25lMiI6IjQzNzMyZSIsInBhbnRzVG9uZSI6IjIxMTFiOSIsInBhbnRzVG9uZTIiOiJmYTliMWEiLCJ0b3BUb25lIjoiYzZjYmE1IiwidG9wVG9uZTIiOiI3MmJhZDUiLCJ3aW5nc1RvbmUiOiI4ZWUyMDkiLCJ3aW5nc1RvbmUyIjoiMTkzOTFmIiwic2hvZXNUb25lIjoiODRhMTNiIiwic29ja3NUb25lIjoiYzVlZGVhIiwic29ja3NUb25lMiI6ImFjMzI4NiIsImdsb3Zlc1RvbmUiOiIxZGY4NTMiLCJnbG92ZXNUb25lMiI6ImJkYzBlYiIsImhhdFRvbmUiOiJlMjU3ZGEiLCJoYXRUb25lMiI6IjU3ZTczOSIsImNhcGVUb25lIjoiYWJjM2Q1IiwiY2FwZVRvbmUyIjoiYjhlMDA3IiwiYmVsdFRvbmUiOiIwNzhjYWMiLCJqYWNrZXRUb25lIjoiMjEwMjg4IiwiamFja2V0VG9uZTIiOiJmNmZiM2UiLCJuZWNrVG9uZSI6ImY4YWY5MyIsIm5lY2tUb25lMiI6IjM0ZmM1MSJ9/1/show.png" />
                </a>
              </li>
            </ul>
          </div>
        </article>
      </body>


      

    </section>

   
   

    

    <%- include("partials/footer") %>
    <!-- {{>footer}} -->

    <script src="../index.js" src="jquery-3.6.4.min.js"></script>
  </body>
</html>
