<html lang="en">
  <head>
    <title>Our Team</title>
  {{>head}}
  </head>
  <body class="light">

    {{>header}}

    {{>footer}}

    <script src="../index.js" src="jquery-3.6.4.min.js"></script>

  </body>
</html>