<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->

    <%- include("partials/footer") %>
    <!-- {{>footer}} -->

    <script src="../index.js" src="jquery-3.6.4.min.js"></script>
  </body>
</html>
