<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Done</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
    />
    <style>
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
      }

      body {
        height: 100vh;
        width: 100%;

        display: grid;
        place-content: center;
      }

      img {
        width: 40vw;
        min-width: 250px;
      }

      p {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 0.9rem;
      }
      .to_home {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      a {
        font-weight: 500;
        color: blue;
      }

      a:hover {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="box-in-middle">
      <img src="images/verify_image.jpg" alt="" />
      <p>
        Please Verify Your Email
        <a href="https://mail.google.com/mail/u/0/#inbox" target="_blank"
          >here</a
        >
      </p>
    </div>
  </body>
</html>
