<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Gmail</title>
    <link rel="stylesheet" href="/css/pleaseCheck.css" />
    <link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@latest/css/boxicons.min.css"
/>
</head>
<body>
    
   <div class="box-in-middle">
        <h1>Please Check Your Gmail Account</h1>
   </div>
</body>
</html>