<html lang="en">
  <head>
    <%- include("partials/head") %>
    <!-- {{>head}} -->
  </head>
  <body class="light">
    <%- include("partials/header") %> <%- include("partials/ads") %>
    <div class="dropdown">
      <div class="top-toggle">
        <div class="selected">Select Category</div>
        <i class="bx bx-chevron-right"></i>
      </div>

      <div class="bottom-toggle">
        <ul>
          <li class="car-item">Car Battery</li>
          <li class="car-item">Car Brakes</li>
          <li class="car-item">Car Engine</li>
          <li class="car-item">Car Mags</li>
          <li class="car-item">Car Muffler</li>
          <li class="car-item">Car Radiator</li>
          <li class="car-item">Car Steering Wheel</li>
        </ul>
      </div>
    </div>
    <section class="products-area">
      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt1.jpg">
            <img
              src="../images/car_battery/car_batt1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt2.jpg">
            <img
              src="../images/car_battery/car_batt2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
             <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>

            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>

            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt3.jpg">
            <img
              src="../images/car_battery/car_batt3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>

            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>

            <input readonly name="quantity" class="quantity" value="1"> </input>
            <label>Price</label>

            <input readonly name="price" class="price" value="1900"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt4.jpg">
            <img
              src="../images/car_battery/car_batt4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>

            <input readonly name="quantity" class="quantity" value="1">    </input>
            <label>Price</label>

            <input readonly name="price" class="price" value="1500"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt5.jpg">
            <img
              src="../images/car_battery/car_batt5.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1">  </input>
                        <label>Title</label>
            <input readonly name="price" class="price" value="3100"></input>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes1.jpg">
            <img
              src="../images/car_brakes/car_brakes1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes2.jpg">
            <img
              src="../images/car_brakes/car_brakes2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>
      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes3.jpg">
            <img
              src="../images/car_brakes/car_brakes3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes4.jpg">
            <img
              src="../images/car_brakes/car_brakes4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        </div>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes5.jpg">
            <img
              src="../images/car_brakes/car_brakes5.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes6.jpg">
            <img
              src="../images/car_brakes/car_brakes6.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine1.jpg">
            <img
              src="../images/car_engine/car_engine1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine2.jpg">
            <img
              src="../images/car_engine/car_engine2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>
      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine3.jpg">
            <img
              src="../images/car_engine/car_engine3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine4.jpg">
            <img
              src="../images/car_engine/car_engine4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel1.jpg">
            <img
              src="../images/car_mags/car_wheel1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel2.jpg">
            <img
              src="../images/car_mags/car_wheel2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>
      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel3.jpg">
            <img
              src="../images/car_mags/car_wheel3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel4.jpg">
            <img
              src="../images/car_mags/car_wheel4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel5.jpg">
            <img
              src="../images/car_mags/car_wheel5.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel6.jpg">
            <img
              src="../images/car_mags/car_wheel6.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel7.jpg">
            <img
              src="../images/car_mags/car_wheel7.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel8.jpg">
            <img
              src="../images/car_mags/car_wheel8.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel9.jpg">
            <img
              src="../images/car_mags/car_wheel9.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel10.jpg">
            <img
              src="../images/car_mags/car_wheel10.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel11.jpg">
            <img
              src="../images/car_mags/car_wheel11.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel12.jpg">
            <img
              src="../images/car_mags/car_wheel12.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel13.jpg">
            <img
              src="../images/car_mags/car_wheel13.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff1.jpg">
            <img
              src="../images/car_muffler/car_muff1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff2.jpg">
            <img
              src="../images/car_muffler/car_muff2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>
      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff3.jpg">
            <img
              src="../images/car_muffler/car_muff3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff4.jpg">
            <img
              src="../images/car_muffler/car_muff4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff5.jpg">
            <img
              src="../images/car_muffler/car_muff5.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
         <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff6.jpg">
            <img
              src="../images/car_muffler/car_muff6.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia1.jpg">
            <img
              src="../images/car_radiator/car_radia1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia2.jpg">
            <img
              src="../images/car_radiator/car_radia2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>
      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia3.jpg">
            <img
              src="../images/car_radiator/car_radia3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia4.jpg">
            <img
              src="../images/car_radiator/car_radia4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia5.jpg">
            <img
              src="../images/car_radiator/car_radia5.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" cass="price" value="3100"></input>

<label>Description</label>            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel1.jpg">
            <img
              src="../images/steering_wheel/steer_wheel1.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel2.jpg">
            <img
              src="../images/steering_wheel/steer_wheel2.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>
      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel3.jpg">
            <img
              src="../images/steering_wheel/steer_wheel3.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
          <label>Price</label>
            <input readonly name="price" class="price" value="
            <label>Description</label>3100"></input>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel4.jpg">
            <img
              src="../images/steering_wheel/steer_wheel4.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel5.jpg">
            <img
              src="../images/steering_wheel/steer_wheel5.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel6.jpg">
            <img
              src="../images/steering_wheel/steer_wheel6.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel7.jpg">
            <img
              src="../images/steering_wheel/steer_wheel7.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel8.jpg">
            <img
              src="../images/steering_wheel/steer_wheel8.jpg"
              alt=""
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, quia.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add to Cart</button>
          </div>
        </form>
      </div>

      <div style="display: block !important" class="box hidden-radiator-box">
        <div class="top-area">
          <img src="../images/car_radiator/car_radia2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Radiator</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button class="btnAddToCart">Add to Cart</button>
        </div>
      </div>
      <div style="display: block !important" class="box hidden-brakes-box">
        <div class="top-area">
          <img src="../images/car_brakes/car_brakes3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Brakes</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button class="btnAddToCart">Add to Cart</button>
        </div>
      </div>

      <div style="display: block !important" class="box hidden-radiator-box">
        <div class="top-area">
          <img src="../images/car_radiator/car_radia5.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Radiator</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button class="btnAddToCart">Add to Cart</button>
        </div>
      </div>
    </section>

    <%- include("partials/footer") %>

    <script src="../index.js" src="jquery-3.6.4.min.js"></script>
  </body>
</html>
