<html lang="en">
  <head>
    <%- include("partials/head") %>
    <!-- {{>head}} -->
  </head>
  <body class="light">
    <%- include("partials/header") %> <%- include("partials/ads") %>
    <div class="dropdown">
      <div class="top-toggle">
        <div class="selected">Select Category</div>
        <i class="bx bx-chevron-right"></i>
      </div>

      <div class="bottom-toggle">
        <ul>
          <li class="car-item">Car Battery</li>
          <li class="car-item">Car Brakes</li>
          <li class="car-item">Car Engine</li>
          <li class="car-item">Car Mags</li>
          <li class="car-item">Car Muffler</li>
          <li class="car-item">Car Radiator</li>
          <li class="car-item">Car Steering Wheel</li>
        </ul>
      </div>
    </div>
    <section class="products-area">
      <div class="box hidden-batt-box">
        <div class="top-area">
          <img src="../images/car_battery/car_batt1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Battery</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-batt-box">
        <div class="top-area">
          <img src="../images/car_battery/car_batt2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Battery</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-batt-box">
        <div class="top-area">
          <img src="../images/car_battery/car_batt3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Battery</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box hidden-brakes-box">
        <div class="top-area">
          <img src="../images/car_brakes/car_brakes1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Brakes</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-brakes-box">
        <div class="top-area">
          <img src="../images/car_brakes/car_brakes2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Brakes</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-brakes-box">
        <div class="top-area">
          <img src="../images/car_brakes/car_brakes3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Brakes</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box hidden-engine-box">
        <div class="top-area">
          <img src="../images/car_engine/car_engine1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Engine</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-engine-box">
        <div class="top-area">
          <img src="../images/car_engine/car_engine2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Engine</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-engine-box">
        <div class="top-area">
          <img src="../images/car_engine/car_engine3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Engine</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box hidden-mags-box">
        <div class="top-area">
          <img src="../images/car_mags/car_wheel1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Mags</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-mags-box">
        <div class="top-area">
          <img src="../images/car_mags/car_wheel2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Mags</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-mags-box">
        <div class="top-area">
          <img src="../images/car_mags/car_wheel3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Mags</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box hidden-muffler-box">
        <div class="top-area">
          <img src="../images/car_muffler/car_muff1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Muffler</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-muffler-box">
        <div class="top-area">
          <img src="../images/car_muffler/car_muff2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Muffler</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-muffler-box">
        <div class="top-area">
          <img src="../images/car_muffler/car_muff3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Muffler</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box hidden-radiator-box">
        <div class="top-area">
          <img src="../images/car_radiator/car_radia1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Radiator</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-radiator-box">
        <div class="top-area">
          <img src="../images/car_radiator/car_radia2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Radiator</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-radiator-box">
        <div class="top-area">
          <img src="../images/car_radiator/car_radia3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Car Radiator</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box hidden-steering-wheel-box">
        <div class="top-area">
          <img src="../images/steering_wheel/steer_wheel1.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Steering Wheel</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-steering-wheel-box">
        <div class="top-area">
          <img src="../images/steering_wheel/steer_wheel2.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Steering Wheel</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>
      <div class="box hidden-steering-wheel-box">
        <div class="top-area">
          <img src="../images/steering_wheel/steer_wheel3.jpg" alt="" />
        </div>
        <div class="bottom-area">
          <div class="title">Steering Wheel</div>
          <div class="description">Lorem ipsum dolor sit amet.</div>
          <button>Buy Now</button>
        </div>
      </div>

      <div class="box rand-box">rand box</div>
      <div class="box rand-box">rand box</div>
      <div class="box rand-box">rand box</div>
    </section>

    <%- include("partials/footer") %>

    <script src="../index.js" src="jquery-3.6.4.min.js"></script>
  </body>
</html>
