<html lang="en">
   <head>
    <title>Products</title>
  {{>head}}
  </head>
  <body class="light">

    {{>header}}

    {{>ads}}
    {{>footer}}

    <script src="../index.js" src="jquery-3.6.4.min.js"></script>

  </body>
</html>