<%- include("partials/head") %> <%- include("partials/header") %>

<section class="terms">
  <h1>TERMS AND CONDITIONS</h1>
  <p class="center">
    These terms and conditions ("Terms") govern your use of the Extraordinary AutoParts website (the "Website") and any purchases or transactions made through the Website. By accessing or using the Website, you agree to be bound by these Terms. Please read them carefully before proceeding.
  </p>
  <br /><br />

  <h3>1. General</h3>
  <p>
    <br />
    a. Extraordinary AutoParts is an e-commerce platform that sells automotive accessories. The Website and its content are provided for informational and shopping purposes only.
  </p>
  <br />
  <p>
    b. By using the Website, you confirm that you are at least 18 years old or have the legal capacity to enter into binding agreements.
  </p>
  <br />

  <h3>2. Product Information and Availability</h3>
  <p>
    <br />
    a. We strive to provide accurate and up-to-date product information on the Website. However, we do not guarantee the completeness, accuracy, or reliability of the product descriptions, images, specifications, or pricing.
  </p>
  <br />

  <p>
    b. Product availability is subject to change without notice. We make efforts to ensure that products listed on the Website are in stock, but we do not guarantee their availability. In the event that a product becomes unavailable after you place an order, we will notify you and offer alternatives or a refund.
  </p>
  <br />

  <h3>3. Ordering and Payment</h3>
  <p>
    <br />
    a. Placing an order on the Website constitutes an offer to purchase the selected products. We reserve the right to accept or decline any order at our discretion.
  </p>
  <br />

  <p>
    b. Payment for orders can be made through the available payment methods on the Website, including major credit cards, debit cards, GCash, and PayPal. You agree to provide accurate and complete payment information and authorize us to charge the designated payment method for the total order amount.

  </p>
  <br />

  <p>
    c. Prices displayed on the Website are in the specified currency and are exclusive of any applicable taxes, shipping fees, or customs duties unless otherwise stated. Such additional charges will be added to your order total during the checkout process.

  </p>
  <br />

  <h3>4. Shipping and Delivery</h3>
  <p>
    <br />
    a. We will make reasonable efforts to process and ship your order promptly. Shipping times may vary depending on the destination and product availability. We are not responsible for any delays or damages that may occur during transit, as this is the responsibility of the shipping carrier.
  </p>
  <br />


  <h3>5. Returns and Exchanges</h3>
  <p>
    <br />
    a. We reserve the right to refuse returns or exchanges that do not comply with our policy or that involve products that have been used, damaged, or altered.
  </p>
  <br />

  <h3>6. Intellectual Property</h3>
  <p>
    <br />
    a. All content on the Website, including text, images, logos, trademarks, and graphics, is protected by copyright and other intellectual property laws. You agree not to use, reproduce, modify, or distribute any content from the Website without our prior written consent.
  </p>

  <br />

  <h3>7. Limitation of Liability</h3>
  <p>
    <br />
    a. To the maximum extent permitted by law, we shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the Website, products, or services, including but not limited to errors, interruptions, inaccuracies, or omissions on the Website.
  </p>

  <br />

  <h3>8. Governing Law and Jurisdiction</h3>
  <p>
    <br />
    a. These Terms and any disputes arising from or related to your use of the Website shall be governed by and construed in accordance with the laws of [insert governing jurisdiction]. Any legal action or proceeding arising out of these Terms shall be brought exclusively in the courts of [insert governing jurisdiction].
  </p>

  <br />

  <h3>9. Severability</h3>
  <p>
    <br />
    a. If any provision of these Terms is deemed invalid, illegal, or unenforceable, the remaining provisions shall continue in full force and effect.
  </p>

  <br />

  <p class="center">
    By accessing or using the Extraordinary AutoParts Website, you acknowledge that you have read, understood, and agree to these Terms and Conditions. If you do not agree to these Terms, please refrain from using the Website.
  </p>
</section>
<%- include("partials/footer") %>
