<link rel="stylesheet" href="/css/footer.css" />

<!-- footer -->
<footer class="main-footer">
  <!-- logo -->
  <div class="logo-col area">
    <a href="/">
      <img src="../icons/tire_transparent.png" alt="" />
    </a>
    <a href="/" style="color: var(--pure-black)">
      <h1>
        Extraordinary <br />
        AutoShop.
      </h1>
    </a>
  </div>
  <!--  -->

  <!-- contact -->
  <div class="contact-col">
    <h1 class="contact-title">Contact Info</h1>
    <div class="address-area area">
      <div class="flex">
        <i class="bx bx-current-location"></i>
        <h1>Address</h1>
      </div>
      <h1>15.953040, 120.356164. Matagdem, Pangasinan</h1>
    </div>
    <div class="email-area area">
      <div class="flex">
        <i class="bx bxs-envelope"></i>
        <h1>Email</h1>
      </div>
      <h1 class="email">contactus.ea@gmail.com</h1>
    </div>
    <div class="phone-area area">
      <div class="flex">
        <i class="bx bxs-phone"></i>
        <h1>Phone</h1>
      </div>
      <h1>0926-012-7147</h1>
    </div>
    <div class="icons-area">
      <i class="bx bxl-facebook-circle"></i>
      <i class="bx bxl-instagram-alt"></i>
      <i class="bx bxl-twitter"></i>
      <i class="bx bxl-twitch"></i>
    </div>
  </div>
  <!--  -->

  <!-- quick -->
  <div class="quick-links">
    <h1 class="contact-title">Quick Links</h1>
    <div class="quick-links-title">
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/about-us">About Us</a>
      <a href="/our-team">Our Team</a>
    </div>
  </div>
  <!--  -->

  <!-- social -->
  <div class="social">
    <h1 class="contact-title">Social</h1>
    <div class="quick-links-title">
      <a href="#">Facebook</a>
      <a href="#">Instagram</a>
      <a href="#">Twitter</a>
      <a href="#">Twitch</a>
    </div>
  </div>
  <!--  -->

  <!-- help -->
  <div class="help-con">
    <h1 class="contact-title">Help</h1>
    <div class="quick-links-title">
      <a href="/FAQ">FAQ</a>
      <a href="/terms-and-conditions">Terms and Conditions</a>
      <a href="/privacy-policy">Privacy Policy</a>
    </div>
  </div>
  <!--  -->

  <!-- query -->
  <div class="any-queries">
    <h1 class="contact-title">Any Queries?</h1>
    <div class="bottom-area">
      <form action="/messages" method="POST">
        <input type="text" placeholder="Your Name" name="name" required />
        <input type="email" placeholder="Your Email" name="email" required />
        <textarea
          id="textarea"
          cols="10"
          rows="10"
          placeholder="Your Message"
          name="message"
          required
        ></textarea>
        <button type="submit">Send</button>
      </form>
    </div>
  </div>
  <!--  -->

  <!-- copyright -->
  <h1 class="copyright">
    &copy; Extraordinary AutoParts, Inc. All Rights Reserved 2023.
  </h1>
  <!--  -->
</footer>
<!-- end of footer -->
