<link rel="stylesheet" href="/css/header.css" />

<!-- header -->
<header>
  <!-- nav -->
  <nav class="navbar navbar-expand-md">
    <div class="container">
      <!-- logo -->
      <a class="navbar-brand fs-4 fw-bold" href="/">
        <img src="/icons/image.webp" alt="" width="35" />EA
      </a>
      <!--  -->

      <!-- hamburger -->
      <button
        class="navbar-toggler shadow-none border-0 fs-6"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
        aria-controls="offcanvasNavbar"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--  -->

      <!-- sidebar -->
      <div
        class="offcanvas offcanvas-start"
        data-bs-backdrop="static"
        tabindex="-1"
        id="offcanvasNavbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header border-warning border-bottom border-3">
          <h5 class="offcanvas-title fs-6" id="offcanvasNavbarLabel">
            ExtraOrdinary AutoParts
          </h5>
          <button
            type="button"
            class="btn-close shadow-none fs-6"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>
        <div class="offcanvas-body">
          <ul
            class="navbar-nav justify-content-end flex-grow-1 pe-3 align-items-center"
          >
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/">Home</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/products"
                >Products</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/our-team"
                >Our Team</a
              >
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/about-us"
                >About Us</a
              >
            </li>

            <% if(!token) { %>
            <li class="nav-item login-register">
              <div
                class="btn-group"
                role="group"
                aria-label="Basic outlined example"
              >
                <a
                  href="/auth/register"
                  type="button"
                  class="btn btn-outline-primary btn-register-login btn-sm"
                >
                  Register
                </a>
                <a
                  href="/auth/login"
                  type="button"
                  class="btn btn-outline-primary btn-register-login btn-sm"
                >
                  Login
                </a>
              </div>
            </li>
            <% } else { %>
            <li class="profile nav-item">
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="25"
                  height="25"
                  fill="#754106"
                  class="bi bi-person-circle"
                  viewBox="0 0 16 16"
                >
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  <path
                    fill-rule="evenodd"
                    d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                  />
                </svg>
              </a>
            </li>
            <% } %>

            <!-- end of profile -->

            <!-- cart -->
            <li class="cart position-relative nav-item">
              <a href="#">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="#754106"
                  class="bi bi-cart4"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>

                <span
                  class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
                >
                  0
                  <span class="visually-hidden">cart</span>
                </span>
              </a>
            </li>
            <!-- end of cart -->
          </ul>
        </div>
      </div>
      <!--  -->
    </div>
  </nav>
  <!--  -->
</header>

<script>
  const menu = document.querySelector('.navbar-toggler')
  const getStarted = document.querySelector('.get-started')
  const btnClose = document.querySelector('.btn-close')
  if (menu) {
    menu.addEventListener('click', () => {
      getStarted.classList.toggle('change')
    })
  } else {
    getStarted.classList.toggle('change')
  }

  if (btnClose) {
    btnClose.addEventListener('click', () => {
      getStarted.classList.remove('change')
    })
  }
</script>
