<div class="carousel">
  <input type="radio" name="switch" id="id1" />
  <a class="thumb"><img src="../images/main.jpg" /></a>
  <div class="info">
    <a href="#" class="title">House MD</a>
    <span class="ep_num_title">
      <a href="#" class="ep_num">episode 23</a>
      <a href="#" class="ep_title">Moving On</a>
    </span>
    <span class="ep_views_coms">
      <span class="ep_views">214K</span>
      <span class="ep_coms">497</span>
      <span class="time_lapsed">3h ago</span>
    </span>
  </div>

  <input type="radio" name="switch" id="id2" />
  <a class="thumb"><img src="../images/main.jpg" /></a>
  <div class="info">
    <a href="#" class="title">Dexter</a>
    <span class="ep_num_title">
      <a href="#" class="ep_num">episode 11</a>
      <a href="#" class="ep_title">Hello Dexter Morgan</a>
    </span>
    <span class="ep_views_coms">
      <span class="ep_views">196K</span>
      <span class="ep_coms">409</span>
      <span class="time_lapsed">5h ago</span>
    </span>
  </div>

  <input type="radio" name="switch" id="id3" />

  <a class="thumb"><img src="../images/main.jpg" /></a>
  <div class="info">
    <a href="#" class="title">The Killing</a>
    <span class="ep_num_title">
      <a href="#" class="ep_num">episode 13</a>
      <a href="#" class="ep_title">Orpheus Descending</a>
    </span>
    <span class="ep_views_coms">
      <span class="ep_views">172K</span>
      <span class="ep_coms">281</span>
      <span class="time_lapsed">1d ago</span>
    </span>
  </div>
  <input type="radio" name="switch" id="id4" />

  <a class="thumb"><img src="../images/main.jpg" /></a>
  <div class="info">
    <a href="#" class="title">Breaking Bad</a>
    <span class="ep_num_title">
      <a href="#" class="ep_num">episode 16</a>
      <a href="#" class="ep_title">Felina</a>
    </span>
    <span class="ep_views_coms">
      <span class="ep_views">397K</span>
      <span class="ep_coms">616</span>
      <span class="time_lapsed">22h ago</span>
    </span>
  </div>

  <input type="radio" name="switch" id="id5" />

  <a class="thumb"><img src="../images/main.jpg" /></a>
  <div class="info">
    <a href="#" class="title">NCIS</a>
    <span class="ep_num_title">
      <a href="#" class="ep_num">episode 1</a>
      <a href="#" class="ep_title">Truth or Consequences</a>
    </span>
    <span class="ep_views_coms">
      <span class="ep_views">744K</span>
      <span class="ep_coms">859</span>
      <span class="time_lapsed">21m ago</span>
    </span>
  </div>

  <div class="nav_pills">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>