<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="/css/homepage.css" />
    <link rel="stylesheet" href="/css/team.css" />

  </head>
  <body>
    <%- include("partials/header") %>

    <!-- homepage -->
    <section class="homepage">
      <div class="left-container">
        <h1>
          Stylish & <span>High Performance Car Accessories Essentials</span>
        </h1>
        <p>
          We're thrilled to have you here, ready to embark on an incredible
          shopping experience.
        </p>
        <h3>Involve. Inspire. Indulge.</h3>
        <a href="/products" class="btn button shop_now">Shop Now</a>
      </div>

      <div class="right-container">
        <div class="img-con">
          <img src="../images/main.jpg" alt="empty_cart" loading="lazy" />
        </div>
      </div>
    </section>
    <!--  -->

    <!-- carousel -->
    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img
            src="/images/carousel/image1.webp"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <a href="/products" class="btn btn-brown text-white">Shop Now</a>
            <p>Best Engines Brand</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/carousel/image2.webp"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <a href="/products" class="btn btn-brown text-white">Shop Now</a>
            <p>Best Mags Brand</p>
          </div>
        </div>
        <div class="carousel-item">
          <img
            src="/images/carousel/image3.webp"
            class="d-block w-100"
            alt="..."
          />
          <div class="carousel-caption d-none d-md-block">
            <a href="/products" class="btn btn-brown text-white">Shop Now</a>
            <p>Best Batteries Brand</p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--  -->

  

    <!-- our team -->
    <section class="our_team_section">
      <body>
        <article class="flow">
          <h1>Our Team</h1>
          <p>Hover or focus over each card to see the person's job title slide in and the colour treatment change.</p>
          <div class="team">
            <ul class="auto-grid" role="list">
              
              
              <li>
                <a href="#" target=_blank" class="profile">
                  <h2 class="profile__name">Mica</h2>
                  <p class="pos">Designer</p>
                  <img alt="Profile shot for Marc Dixon" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkhhaXJMb3dlciI6IjEwIiwiQm9keSI6IjEiLCJFeWVzIjoiOCIsIk1vdXRoIjoiNyIsIlNvY2tzIjoiMTIiLCJTaG9lcyI6IjMiLCJHbG92ZXMiOiIyIiwiUGFudHMiOiI1IiwiVG9wIjoiMTQiLCJIYWlyIjoiMzEiLCJleWVzVG9uZSI6ImY0MWJkZSIsImV5ZXNUb25lMiI6ImQwYjBlOCIsIm1hc2tUb25lIjoiOTIwYTM5IiwiaGFpclRvbmUiOiJiZjIzNmIiLCJoYWlyVG9uZTIiOiI2NDMxNjAiLCJ1bmRlcndlYXJUb25lIjoiMjdkYWNhIiwidW5kZXJ3ZWFyVG9uZTIiOiI0ZGVmOWQiLCJwYW50c1RvbmUiOiJlYWI3Y2EiLCJwYW50c1RvbmUyIjoiNDdlYzcwIiwidG9wVG9uZSI6ImEzYmI0YyIsInRvcFRvbmUyIjoiYTkyNjUzIiwid2luZ3NUb25lIjoiZDJlMjQzIiwid2luZ3NUb25lMiI6Ijc5NjcwZCIsInNob2VzVG9uZSI6IjMyZDUwMiIsInNvY2tzVG9uZSI6IjAzY2FiZCIsInNvY2tzVG9uZTIiOiJiMWNmZjQiLCJnbG92ZXNUb25lIjoiOWVmNjVmIiwiZ2xvdmVzVG9uZTIiOiJmMjJiN2QiLCJoYXRUb25lIjoiMTQ3NDI0IiwiaGF0VG9uZTIiOiIyOWY1NWEiLCJjYXBlVG9uZSI6ImZiNzk4YyIsImNhcGVUb25lMiI6ImY0MzE4YSIsImJlbHRUb25lIjoiNTBlOWFlIiwiamFja2V0VG9uZSI6IjczY2E0YiIsImphY2tldFRvbmUyIjoiMTdiMzFjIiwibmVja1RvbmUiOiI2ODAyY2QiLCJuZWNrVG9uZTIiOiJmMDk5NjYifQ==/1/show.png" />
                </a>
              </li>
              <li>
                <a href="#" class="profile">
                  <h2 class="profile__name">Guian</h2>
                  <p class="pos">Researcher</p>
                  <img alt="Profile shot for Chad" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkV5ZXMiOiIxIiwiU29ja3MiOiIxNCIsIkdsb3ZlcyI6IjUiLCJQYW50cyI6IjUiLCJUb3AiOiIzIiwiSGFpciI6IjYiLCJleWVzVG9uZSI6ImY0MWJkZSIsImV5ZXNUb25lMiI6ImQwYjBlOCIsIm1hc2tUb25lIjoiOTIwYTM5IiwiaGFpclRvbmUiOiJiZjIzNmIiLCJoYWlyVG9uZTIiOiI2NDMxNjAiLCJ1bmRlcndlYXJUb25lIjoiMjdkYWNhIiwidW5kZXJ3ZWFyVG9uZTIiOiI0ZGVmOWQiLCJwYW50c1RvbmUiOiJlYWI3Y2EiLCJwYW50c1RvbmUyIjoiNDdlYzcwIiwidG9wVG9uZSI6ImEzYmI0YyIsInRvcFRvbmUyIjoiYTkyNjUzIiwid2luZ3NUb25lIjoiZDJlMjQzIiwid2luZ3NUb25lMiI6Ijc5NjcwZCIsInNob2VzVG9uZSI6IjMyZDUwMiIsInNvY2tzVG9uZSI6IjAzY2FiZCIsInNvY2tzVG9uZTIiOiJiMWNmZjQiLCJnbG92ZXNUb25lIjoiOWVmNjVmIiwiZ2xvdmVzVG9uZTIiOiJmMjJiN2QiLCJoYXRUb25lIjoiMTQ3NDI0IiwiaGF0VG9uZTIiOiIyOWY1NWEiLCJjYXBlVG9uZSI6ImZiNzk4YyIsImNhcGVUb25lMiI6ImY0MzE4YSIsImJlbHRUb25lIjoiNTBlOWFlIiwiamFja2V0VG9uZSI6IjczY2E0YiIsImphY2tldFRvbmUyIjoiMTdiMzFjIiwibmVja1RvbmUiOiI2ODAyY2QiLCJuZWNrVG9uZTIiOiJmMDk5NjYifQ==/1/show.png" />
                </a>
              </li>
              <li>
                <a href="#" target=_blank" class="profile">
                  <h2 class="profile__name">Arabella</h2>
                  <p class="pos">Asst. Project Manager</p>
                  <img alt="Profile shot for Nicholas Castro" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkhhaXJMb3dlciI6IjUiLCJFeWVzIjoiMSIsIlNvY2tzIjoiMTUiLCJTaG9lcyI6IjEiLCJHbG92ZXMiOiIzIiwiUGFudHMiOiIyIiwiVG9wIjoiMTUiLCJIYWlyIjoiMjciLCJleWVzVG9uZSI6ImY0MWJkZSIsImV5ZXNUb25lMiI6ImQwYjBlOCIsIm1hc2tUb25lIjoiOTIwYTM5IiwiaGFpclRvbmUiOiJiZjIzNmIiLCJoYWlyVG9uZTIiOiI2NDMxNjAiLCJ1bmRlcndlYXJUb25lIjoiMjdkYWNhIiwidW5kZXJ3ZWFyVG9uZTIiOiI0ZGVmOWQiLCJwYW50c1RvbmUiOiJlYWI3Y2EiLCJwYW50c1RvbmUyIjoiNDdlYzcwIiwidG9wVG9uZSI6ImEzYmI0YyIsInRvcFRvbmUyIjoiYTkyNjUzIiwid2luZ3NUb25lIjoiZDJlMjQzIiwid2luZ3NUb25lMiI6Ijc5NjcwZCIsInNob2VzVG9uZSI6IjMyZDUwMiIsInNvY2tzVG9uZSI6IjAzY2FiZCIsInNvY2tzVG9uZTIiOiJiMWNmZjQiLCJnbG92ZXNUb25lIjoiOWVmNjVmIiwiZ2xvdmVzVG9uZTIiOiJmMjJiN2QiLCJoYXRUb25lIjoiMTQ3NDI0IiwiaGF0VG9uZTIiOiIyOWY1NWEiLCJjYXBlVG9uZSI6ImZiNzk4YyIsImNhcGVUb25lMiI6ImY0MzE4YSIsImJlbHRUb25lIjoiNTBlOWFlIiwiamFja2V0VG9uZSI6IjczY2E0YiIsImphY2tldFRvbmUyIjoiMTdiMzFjIiwibmVja1RvbmUiOiI2ODAyY2QiLCJuZWNrVG9uZTIiOiJmMDk5NjYifQ==/1/show.png" />
                </a>
              </li>
              <li>
                <a href="#" target=_blank" class="profile">
                  <h2 class="profile__name">Ericson</h2>
                  <p class="pos">Project Manager</p>
                  <img alt="Profile shot for Ruby Morris" src="http://www.avatarsinpixels.com/minipix/eyJCYWNrZ3JvdW5kIjoiMSIsIkV5ZXMiOiIxOCIsIk1vdXRoIjoiMTAiLCJTb2NrcyI6IjEwIiwiU2hvZXMiOiI0IiwiR2xvdmVzIjoiMiIsIlBhbnRzIjoiMSIsIlRvcCI6IjgiLCJIYWlyIjoiOCIsImV5ZXNUb25lIjoiODg4NTc4IiwiZXllc1RvbmUyIjoiODE0N2U1IiwibWFza1RvbmUiOiIzMTQ0NTIiLCJoYWlyVG9uZSI6ImM5MTUwYyIsImhhaXJUb25lMiI6IjExZmI3YiIsInVuZGVyd2VhclRvbmUiOiIzOGRiOWUiLCJ1bmRlcndlYXJUb25lMiI6IjQzNzMyZSIsInBhbnRzVG9uZSI6IjIxMTFiOSIsInBhbnRzVG9uZTIiOiJmYTliMWEiLCJ0b3BUb25lIjoiYzZjYmE1IiwidG9wVG9uZTIiOiI3MmJhZDUiLCJ3aW5nc1RvbmUiOiI4ZWUyMDkiLCJ3aW5nc1RvbmUyIjoiMTkzOTFmIiwic2hvZXNUb25lIjoiODRhMTNiIiwic29ja3NUb25lIjoiYzVlZGVhIiwic29ja3NUb25lMiI6ImFjMzI4NiIsImdsb3Zlc1RvbmUiOiIxZGY4NTMiLCJnbG92ZXNUb25lMiI6ImJkYzBlYiIsImhhdFRvbmUiOiJlMjU3ZGEiLCJoYXRUb25lMiI6IjU3ZTczOSIsImNhcGVUb25lIjoiYWJjM2Q1IiwiY2FwZVRvbmUyIjoiYjhlMDA3IiwiYmVsdFRvbmUiOiIwNzhjYWMiLCJqYWNrZXRUb25lIjoiMjEwMjg4IiwiamFja2V0VG9uZTIiOiJmNmZiM2UiLCJuZWNrVG9uZSI6ImY4YWY5MyIsIm5lY2tUb25lMiI6IjM0ZmM1MSJ9/1/show.png" />
                </a>
              </li>
            </ul>
          </div>
        </article>
      </body>


      

    </section>
    <!--  -->

    <!-- accordion -->
    <div class="accordion" id="accordionExample">
      <h1 class="faq-h1">FAQ</h1>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            How can I place an order on Extraordinary AutoParts?
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse show"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            To place an order, simply browse our website and add the desired
            items to your list and cart. Once you have finished selecting your
            products, proceed to the checkout page. Provide the necessary
            shipping and payment information, review your order, and complete
            the purchase. If you encounter any difficulties, our customer
            support team is ready to assist you.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            What payment methods do you accept?
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            We accept various payment methods, including major credit cards,
            debit cards, GCash, and PayPal. All transactions are securely
            processed to ensure the safety of your personal and financial
            information.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            How long does shipping take?
          </button>
        </h2>
        <div
          id="collapseThree"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Shipping times may vary depending on your location and the specific
            product. We strive to process and ship orders as quickly as
            possible. Once your order is confirmed, you will receive a shipping
            confirmation email with a tracking number to monitor the progress of
            your package.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFour"
            aria-expanded="false"
            aria-controls="collapseFour"
          >
            Do you offer international shipping?
          </button>
        </h2>
        <div
          id="collapseFour"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">Unfortunately not.</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseFive"
            aria-expanded="false"
            aria-controls="collapseFive"
          >
            What is your return policy?
          </button>
        </h2>
        <div
          id="collapseFive"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            We want you to be completely satisfied with your purchase. If you
            receive a defective or incorrect item, please contact our customer
            support within 7 days of delivery to arrange for a return or
            exchange.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSix"
            aria-expanded="false"
            aria-controls="collapseSix"
          >
            Can I track the status of my order?
          </button>
        </h2>
        <div
          id="collapseSix"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Yes, once your order is shipped, you will receive a confirmation
            email containing a tracking number. You can use this tracking number
            to monitor the progress of your shipment through the designated
            shipping carrier's website.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseSeven"
            aria-expanded="false"
            aria-controls="collapseSeven"
          >
            Do you offer customer support?
          </button>
        </h2>
        <div
          id="collapseSeven"
          class="accordion-collapse collapse"
          data-bs-parent="#accordionExample"
        >
          <div class="accordion-body">
            Absolutely! We have a dedicated customer support team available to
            assist you with any inquiries or concerns you may have. You can
            reach us through email and phone. We are committed to providing
            prompt and helpful assistance to ensure your satisfaction. If you
            have any further questions or need assistance, please don't hesitate
            to reach out to us. We are here to help!
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    

    <%- include("partials/footer") %>
  </body>
</html>
