<html lang="en">
  <head>
    <%- include("partials/head") %>
    <style>
      * {
        font-family: 'Nunito', sans-serif;
      }

      .login,
      .register {
        width: 100%;
      }

      body {
        display: grid;
        place-content: center;
      }

      form {
        width: 350px;
      }

      .alert-danger {
        height: 40px;
      }

      .alert-success {
        width: 245px;
        font-size: 0.7rem;
        height: 20px;
        position: relative;
        left: -35px;
      }

      .btn-close {
        font-size: 0.6rem;
        height: 0px;
      }

      .p-error {
        position: relative;
        top: -7px;
      }

      .alert-danger {
        width: 247px;
        font-size: 0.7rem;
        height: 20px;
      }

      .alert-success {
        width: 247px;
        font-size: 0.7rem;
        height: 20px;
      }

      .alert-dismissible .btn-close {
        top: -4px;
      }

      .btn-close:focus {
        outline: 0;
        box-shadow: none;
      }

      .btn-brown {
        background: #8f4f07;
        color: white;
        width: 247px;
        padding: 5px;
        border-radius: 3px;
        font-size: 0.8rem;
        border: 1px solid #8f4f07;
      }

      .btn-brown:hover {
        border: 1px solid #8f4f07;
        background: transparent;
        color: black;
      }

      .form-label {
        font-size: 0.6rem;
      }

      .login-btn {
        width: 247px;
        font-size: 0.8rem;
        border-radius: 3px;
        height: 31px;
      }

      .form-control {
        width: 247px;
        font-size: 0.7rem;
        border-radius: 5px;
      }

      .already {
        font-size: 0.7rem;
      }

      .body-of-form {
        width: 300px;
      }
      .header-label {
        font-size: 2rem;
      }

      .form-control:focus {
        box-shadow: unset;
      }
    </style>
  </head>
  <body>
    <!-- container -->
    <div class="container pt-5 border border-black rounded body-of-form">
      <h1 class="text-center mb-0 header-label">Sign In</h1>
      <form action="/auth/login" method="POST" class="pt-3 p-3">
        <!-- error -->
        <%- include('./partials/messages') %>
        <!-- end error -->
        <div class="mb-2">
          <label class="form-label mb-0">Email address</label>
          <input
            type="email"
            class="form-control"
            name="email"
            value="<%= typeof email != 'undefined' ? email : ''%>"
          />
        </div>

        <div class="mb-2">
          <label class="form-label mb-0">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            value="<%= typeof password != 'undefined' ? password : ''%>"
          />
        </div>

        <button type="submit" class="btn btn-success login btn-brown">
          Login
        </button>

        <p class="mt-2 mb-0 already">Dont' have an account?</p>
        <p>
          <a
            href="/auth/register"
            class="btn btn-outline-dark register login-btn"
          >
            Register
          </a>
        </p>
      </form>
    </div>
    <!--  -->
  </body>
</html>
