<html lang="en">
  <head>
    <!-- {{>head}} -->
    <%- include("partials/head") %>
    <link rel="stylesheet" href="css/notFound.css" />
  </head>
  <body class="light">
    <%- include("partials/header") %>
    <!-- {{>header}} -->

    <div class="image-container">
      <img src="images/notFound.jpg" alt="page not found" />
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
