<html lang="en">
  <head>
    <%- include("partials/head") %>
    <style>
      .image-container {
        display: grid;
        place-content: center;
      }

      .image-container img {
        width: 100%;
        max-width: 800px;
      }
    </style>
  </head>
  <body class="light">
    <%- include("partials/header") %>

    <div class="image-container">
      <img src="/images/notFound.webp" alt="page not found" />
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
