<html lang="en">
  <head>
<link rel="stylesheet" href="css/products.css" />

    <!-- {{>head}} -->
  </head>
  <body class="light">
    <%- include("partials/header") %> <%- include("partials/ads") %>
    <div class="dropdown">
      <div class="top-toggle">
        <div class="selected">Select Category</div>
        <i class="bx bx-chevron-right"></i>
      </div>
      <div class="bottom-toggle">
        <ul>
          <li class="car-item">Car Battery</li>
          <li class="car-item">Car Brakes</li>
          <li class="car-item">Car Engine</li>
          <li class="car-item">Car Mags</li>
          <li class="car-item">Car Muffler</li>
          <li class="car-item">Car Radiator</li>
          <li class="car-item">Car Steering Wheel</li>
        </ul>
      </div>
    </div>
    <section class="products-area" id="prods-area">
      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt1.jpg">
            <img
              src="../images/car_battery/car_batt1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Motolite Gold Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Designed for tropical use.">
            </input>

            <button type="submit" class="btnAddToCart">Add To List</button>
           
          </div>
        </form>
      </div>

      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt2.jpg">
            <img
              src="../images/car_battery/car_batt2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
             <label>Title</label>
            <input readonly name="title" class="title" value="Ruiyu Battery"></input>
            <label>Quantity</label>

            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>

            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Providing high-quality solutions for.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt3.jpg">
            <img
              src="../images/car_battery/car_batt3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>

            <input readonly name="title" class="title" value="Lite Car Battery"></input>
            <label>Quantity</label>

            <input readonly name="quantity" class="quantity" value="1"> </input>
            <label>Price</label>

            <input readonly name="price" class="price" value="1900"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Rechargeable power source for vehicles.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt4.jpg">
            <img
              src="../images/car_battery/car_batt4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="PowerLine Car Battery"></input>
            <label>Quantity</label>

            <input readonly name="quantity" class="quantity" value="1">    </input>
            <label>Price</label>

            <input readonly name="price" class="price" value="2900"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="High performance batteries.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt5.jpg">
            <img
              src="../images/car_battery/car_batt5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Dyvinity Car Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1">  </input>
                        <label>Title</label>
            <input readonly name="price" class="price" value="3300"></input>
            <input readonly name="description" class="description" value="Lead-acid battery that incorporates new technology.">
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes1.jpg">
            <img
              src="../images/car_brakes/car_brakes1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Akebono Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3300"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Excellent braking performance and durability.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes2.jpg">
            <img
              src="../images/car_brakes/car_brakes2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Brembo Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3900"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Hydraulic by pressing the brake.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>
      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes3.jpg">
            <img
              src="../images/car_brakes/car_brakes3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Bosch Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="1900"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Stopping mechanism for automotive vehicles..">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes4.jpg">
            <img
              src="../images/car_brakes/car_brakes4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Normal Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Stopping mechanism for automotive vehicles..">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        </div>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes5.jpg">
            <img
              src="../images/car_brakes/car_brakes5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="AMB Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5999"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Efficient stopping power.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes6.jpg">
            <img
              src="../images/car_brakes/car_brakes6.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Normal Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2100"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Prioritize safety and stopping power.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine1.jpg">
            <img
              src="../images/car_engine/car_engine1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Ford Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="21999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Designed to deliver power and efficiency.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine2.jpg">
            <img
              src="../images/car_engine/car_engine2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="BMW Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="22999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Advanced engine technologies.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>
      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine3.jpg">
            <img
              src="../images/car_engine/car_engine3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Honda Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="30999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Compact cars to larger engines.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine4.jpg">
            <img
              src="../images/car_engine/car_engine4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Mercedes-Benz Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="40999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="High-performance V8 and V12 engines.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel1.jpg">
            <img
              src="../images/car_mags/car_wheel1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Enkei Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="High-quality and lightweight alloy .">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel2.jpg">
            <img
              src="../images/car_mags/car_wheel2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="BBS Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Build quality and innovative designs.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>
      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel3.jpg">
            <img
              src="../images/car_mags/car_wheel3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="OZ Racing Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="1800"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lightweight and aerodynamic designs.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel4.jpg">
            <img
              src="../images/car_mags/car_wheel4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Vossen Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Luxury and performance-oriented wheels.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel5.jpg">
            <img
              src="../images/car_mags/car_wheel5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Rays Engineering Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lightweight construction and strength.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel6.jpg">
            <img
              src="../images/car_mags/car_wheel6.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="HRE Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Bespoke designs and exceptional craftsmanship.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel7.jpg">
            <img
              src="../images/car_mags/car_wheel7.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="ADV.1 Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Suit various vehicle applications.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel8.jpg">
            <img
              src="../images/car_mags/car_wheel8.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Forgeline Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3800"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="For attention-grabbing aesthetics.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel9.jpg">
            <img
              src="../images/car_mags/car_wheel9.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Rotiform Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Eye-catching aesthetics and durable .">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel10.jpg">
            <img
              src="../images/car_mags/car_wheel10.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="TSW Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3300"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Classic designs and durable construction.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel11.jpg">
            <img
              src="../images/car_mags/car_wheel11.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="American Racing Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lightweight construction and stylish designs,.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel12.jpg">
            <img
              src="../images/car_mags/car_wheel12.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Konig Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Stylish wheels for automotive vehicles.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel13.jpg">
            <img
              src="../images/car_mags/car_wheel13.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="XXR Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Stylish wheels for automotive vehicles..">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff1.jpg">
            <img
              src="../images/car_muffler/car_muff1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="MagnaFlow Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Optimize exhaust flow and reduce backpressure.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff2.jpg">
            <img
              src="../images/car_muffler/car_muff2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Flowmaster Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5500"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="A deep and throaty tone.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>
      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff3.jpg">
            <img
              src="../images/car_muffler/car_muff3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Borla Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="6999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Crafted from high-quality stainless steel.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff4.jpg">
            <img
              src="../images/car_muffler/car_muff4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Gibson Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Aggressive tone and enhanced exhaust flow.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff5.jpg">
            <img
              src="../images/car_muffler/car_muff5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Corsa Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="7999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Reflective Sound Cancellation (RSC) technology.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-muffler-box">
         <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff6.jpg">
            <img
              src="../images/car_muffler/car_muff6.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Walker Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Exhaust noise reduction and redirection.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia1.jpg">
            <img
              src="../images/car_radiator/car_radia1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Denso Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Deliver efficient cooling performance.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia2.jpg">
            <img
              src="../images/car_radiator/car_radia2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Mishimoto Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Improved cooling capacity and durability.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>
      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia3.jpg">
            <img
              src="../images/car_radiator/car_radia3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Koyo Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="1100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Ensure efficient cooling.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia4.jpg">
            <img
              src="../images/car_radiator/car_radia4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="CSF Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Premium radiator and advanced designs.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia5.jpg">
            <img
              src="../images/car_radiator/car_radia5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Nissens Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                  <label>Price</label>
            <input readonly name="price" cass="price" value="3100"></input>

<label>Description</label>            <input readonly name="description" class="description" value="Engine cooling system heat exchanger.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel1.jpg">
            <img
              src="../images/steering_wheel/steer_wheel1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Momo Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                      <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="High-quality steering wheels.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel2.jpg">
            <img
              src="../images/steering_wheel/steer_wheel2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Sparco Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Ensuring optimal performance and control.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>
      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel3.jpg">
            <img
              src="../images/steering_wheel/steer_wheel3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Nardi Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Genuine leather and wood.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel4.jpg">
            <img
              src="../images/steering_wheel/steer_wheel4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
           <input readonly name="title" class="title" value="OMP Car Steering Wheel"></input>
           <label>Quantity</label>

           <input readonly name="quantity" class="quantity" value="1"></input>
           <label>Price</label>

           <input readonly name="price" class="price" value="2999"></input>
           <label>Description</label>

           <input readonly name="description" class="description" value="Constructed with lightweight materials.">
             
           </input>
           <button type="submit" class="btnAddToCart">Add To List</button>
         </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel5.jpg">
            <img
              src="../images/steering_wheel/steer_wheel5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Personal Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Handcrafted with a focus on individuality and style.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel6.jpg">
            <img
              src="../images/steering_wheel/steer_wheel6.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Grant Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Suitable for various vehicle types.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel7.jpg">
            <img
              src="../images/steering_wheel/steer_wheel7.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="NRG Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Sporty appearance and improved control.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div class="box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel8.jpg">
            <img
              src="../images/steering_wheel/steer_wheel8.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Primary control for vehicle direction.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      

      <div style="display: block !important;" class="show box hidden-batt-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_battery/car_batt1.jpg">
            <img
              src="../images/car_battery/car_batt1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Motolite Gold Battery"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Designed for tropical use.">
            </input>

            <button type="submit" class="btnAddToCart">Add To List</button>
           
          </div>
        </form>
      </div>

      <div style="display: block !important;" class="show box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes1.jpg">
            <img
              src="../images/car_brakes/car_brakes1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Akebono Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3300"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Excellent braking performance and durability.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div style="display: block !important;" class="show box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes2.jpg">
            <img
              src="../images/car_brakes/car_brakes2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Brembo Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3900"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Hydraulic by pressing the brake.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div style="display: block !important;" class="show box hidden-brakes-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_brakes/car_brakes3.jpg">
            <img
              src="../images/car_brakes/car_brakes3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Bosch Car Brakes"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="1900"></input>
            <label>Description</label>

            <input readonly name="description" class="description" value="Stopping mechanism for automotive vehicles..">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div style="display: block !important;"  class="show box hidden-engine-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_engine/car_engine1.jpg">
            <img
              src="../images/car_engine/car_engine1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Ford Car Engine"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="21999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Designed to deliver power and efficiency.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel1.jpg">
            <img
              src="../images/car_mags/car_wheel1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Enkei Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="High-quality and lightweight alloy .">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel2.jpg">
            <img
              src="../images/car_mags/car_wheel2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="BBS Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Build quality and innovative designs.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel3.jpg">
            <img
              src="../images/car_mags/car_wheel3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="OZ Racing Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="1800"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lightweight and aerodynamic designs.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-mags-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_mags/car_wheel5.jpg">
            <img
              src="../images/car_mags/car_wheel5.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Rays Engineering Car Mags"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Lightweight construction and strength.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff1.jpg">
            <img
              src="../images/car_muffler/car_muff1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="MagnaFlow Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Optimize exhaust flow and reduce backpressure.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff2.jpg">
            <img
              src="../images/car_muffler/car_muff2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Flowmaster Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5500"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="A deep and throaty tone.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff3.jpg">
            <img
              src="../images/car_muffler/car_muff3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Borla Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="6999"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Crafted from high-quality stainless steel.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-muffler-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_muffler/car_muff4.jpg">
            <img
              src="../images/car_muffler/car_muff4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Gibson Car Muffler"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="5100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Aggressive tone and enhanced exhaust flow.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia1.jpg">
            <img
              src="../images/car_radiator/car_radia1.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Denso Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Deliver efficient cooling performance.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-radiator-box">
        <div class="box hidden-radiator-box">
          <form action="/cart" method="post">
            <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia2.jpg">
              <img
                src="../images/car_radiator/car_radia2.jpg"
                alt=""
                loading="lazy"
              />
            </input>
            <div class="bottom-area">
              <label>Title</label>
              <input readonly name="title" class="title" value="Mishimoto Car Radiator"></input>
              <label>Quantity</label>
              <input readonly name="quantity" class="quantity" value="1"></input>
                          <label>Price</label>
              <input readonly name="price" class="price" value="2100"></input>
              <label>Description</label>
              <input readonly name="description" class="description" value="Improved cooling capacity and durability.">
                
              </input>
              <button type="submit" class="btnAddToCart">Add To List</button>
            </div>
          </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia3.jpg">
            <img
              src="../images/car_radiator/car_radia3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Koyo Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="1100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Ensure efficient cooling.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>

      <div style="display: block !important;" class="show box hidden-radiator-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/car_radiator/car_radia4.jpg">
            <img
              src="../images/car_radiator/car_radia4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="CSF Car Radiator"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"></input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Premium radiator and advanced designs.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
        
      </div>
    
      <div style="display: block !important;" class="show box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel8.jpg">
            <img
              src="../images/steering_wheel/steer_wheel8.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
            <label>Price</label>
            <input readonly name="price" class="price" value="3100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Primary control for vehicle direction.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div style="display: block !important;" class="show box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel2.jpg">
            <img
              src="../images/steering_wheel/steer_wheel2.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Sparco Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="4100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Ensuring optimal performance and control.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div style="display: block !important;" class="show box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel3.jpg">
            <img
              src="../images/steering_wheel/steer_wheel3.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
            <input readonly name="title" class="title" value="Nardi Car Steering Wheel"></input>
            <label>Quantity</label>
            <input readonly name="quantity" class="quantity" value="1"> </input>
                        <label>Price</label>
            <input readonly name="price" class="price" value="2100"></input>
            <label>Description</label>
            <input readonly name="description" class="description" value="Genuine leather and wood.">
              
            </input>
            <button type="submit" class="btnAddToCart">Add To List</button>
          </div>
        </form>
      </div>

      <div style="display: block !important;" class="show box hidden-steering-wheel-box">
        <form action="/cart" method="post">
          <input readonly class="top-area" name="imgURL" value="../images/steering_wheel/steer_wheel4.jpg">
            <img
              src="../images/steering_wheel/steer_wheel4.jpg"
              alt=""
              loading="lazy"
            />
          </input>
          <div class="bottom-area">
            <label>Title</label>
           <input readonly name="title" class="title" value="OMP Car Steering Wheel"></input>
           <label>Quantity</label>

           <input readonly name="quantity" class="quantity" value="1"></input>
           <label>Price</label>

           <input readonly name="price" class="price" value="2999"></input>
           <label>Description</label>

           <input readonly name="description" class="description" value="Constructed with lightweight materials.">
             
           </input>
           <button type="submit" class="btnAddToCart">Add To List</button>
         </div>
        </form>
      </div>

    </section>

    <%- include("partials/footer") %>

  </body>
</html>
