.box {
  overflow: hidden !important;
}

.main-title {
  text-align: center !important;
  color: var(--white);
  font-family: "Cabin Sketch", cursive;
}

/* box1 */
.box1 {
  height: 100vh;
  background: url("../images/svg_bg2.svg") no-repeat center center/ cover;
  text-align: center;
  margin-top: 1rem;
}

.box1 {
  padding: 60px 15%;
}

.box1 h3 {
  text-transform: uppercase;
  font-size: 2rem;
  margin-top: 1rem;
}

.box1 .main-body {
  margin-top: 10rem;
}

.box1 .main-body .title {
  font-size: 1.3rem;
}

.box1 .main-body .body p {
  margin-left: 3rem;
  color: var(--text-low-opacity);
  padding-block: 2rem;
}

/* box1 */
.box2 {
  /* height: 100vh; */
  height: calc(100vh - 10vh);
  background: url("../images/svg_bg.svg") no-repeat center center/ cover;
}

.box2 {
  padding: 60px 15%;
}

.box2 .body strong {
  font-weight: 900;
}

.main-title {
  text-transform: uppercase;
  font-size: 3rem;
}

.box2 h1 {
  color: var(--pure_black);
  font-family: "Cabin Sketch", cursive;
}

.box2 .main-body {
  margin-top: 13rem;
}

.box2 .main-body .title {
  font-size: 1.3rem;
}

.box2 .main-body .body p {
  margin-left: 3rem;
  color: var(--text-low-opacity);
  padding-block: 2rem;
}

/* box3 */

.box3 {
  background: url("../images/svg_bg3.svg") no-repeat center center/ cover;
  height: 100vh;
  margin-top: 1rem;
}

.box3 {
  padding: 60px 15%;
}

.box3 h1 {
  color: var(--pure_black);
  font-family: "Cabin Sketch", cursive;
}

.box3 .main-body {
  margin-top: 10rem;
}

.box3 .main-body .title {
  font-size: 1.3rem;
}

.box3 .main-body .body p {
  margin-left: 3rem;
  color: var(--text-low-opacity);
  padding-block: 2rem;
}

.map {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  padding: 0 2%;
}

.map iframe:first-child {
  padding-right: 1rem;
}

.pre-footer {
  width: 100%;
  height: auto;
  padding: 50px 15%;
}

.pre-footer .bottom-con {
  margin-top: 1rem;

  display: grid;
  /* grid-template-columns: 1.5fr 2fr; */
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  width: 100%;
}

.pre-footer .bottom-con .left-con {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pre-footer .bottom-con .left-con .location-con {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.pre-footer .bottom-con .left-con .email-con {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.pre-footer .bottom-con .left-con .phone-con {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.pre-footer .bottom-con .left-con .location-con i {
  font-size: 1.5rem;
}

.pre-footer .bottom-con .left-con .email-con i {
  font-size: 1.5rem;
}

.pre-footer .bottom-con .left-con .phone-con i {
  font-size: 1.5rem;
}

.pre-footer .bottom-con .left-con .location-con h3 {
  font-size: 0.9rem;
  color: var(--text-low-opacity);
}

.pre-footer .bottom-con .left-con .email-con h3 {
  font-size: 0.9rem;
  color: var(--text-low-opacity);
}

.pre-footer .bottom-con .left-con .phone-con h3 {
  font-size: 0.9rem;
  color: var(--text-low-opacity);
}

/* start of right */

.pre-footer .bottom-con .right-con {
  margin-top: 2rem;
  /* display: flex;
  flex-direction: column; */
}

.pre-footer .bottom-con .right-con .day {
  color: var(--text-low-opacity);
  font-size: 0.8rem;
  font-weight: 300 !important;

  margin-block: 1.5rem;

  display: flex;
  flex-direction: column;
}

.pre-footer .bottom-con .right-con .day > div {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  margin-bottom: 0.8rem;
}

.pre-footer .bottom-con .right-con .socmeds_of_site h1 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.pre-footer .bottom-con .right-con .socmeds_of_site .links {
  width: 35%;
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}

.pre-footer .bottom-con .right-con .socmeds_of_site .links i.bx {
  font-size: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.pre-footer .bottom-con .right-con .socmeds_of_site .links i.bx:hover {
  transform: translateY(-5px);
}

/* responsive area */

@media (max-width: 936px) {
  .box1,
  .box2,
  .box3 {
    padding: 20px 15% 0;
    height: auto;
  }

  .box p {
    margin-left: 0 !important;
  }
}

@media (max-width: 832px) {
  .map {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .map .map-item {
    width: 100% !important;
  }
}

@media (max-width: 565px) {
  .pre-footer .bottom-con .right-con .socmeds_of_site h1 {
    width: auto;
  }
}

@media (max-width: 488px) {
  .pre-footer {
    padding: 50px 10%;
  }
}

@media (max-width: 472px) {
  .main-footer .any-queries {
    width: 100% !important;
  }
}
/*  */
