@import "https://fonts.googleapis.com/css?family=Muli";

* {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
}

.carousel {
  width: 80%;
  position: relative;
  padding-top: 380px;
  margin: 50px auto;
  box-shadow: 0 10px 20px -5px rgba(92, 75, 72, 0.75);
}

.carousel input[name="switch"] {
  display: none;
}

.carousel > .thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.carousel > .thumb img {
  width: 100%;
  height: 100%;
  transform: scale(1.1);
  transition: all 0.5s;
}

.carousel input[name="switch"] ~ .thumb {
  z-index: -1;
}
.carousel input[name="switch"] ~ .thumb img {
  opacity: 0;
  transform: scale(1.1);
}

.carousel input[name="switch"]:checked + .thumb {
  z-index: 0;
}

.carousel input[name="switch"]:checked + .thumb img {
  opacity: 1;
  transform: scale(1);
}

.carousel .info {
  position: absolute;
  bottom: 10%;
  left: 12%;
  border-left: 1px solid #ececec;
  box-shadow: -5px 0 3px -5px rgba(0, 0, 0, 1);
  transform-origin: center left;
  transform: scale(0);
}

a.title,
a.ep_num,
a.ep_title {
  text-decoration: none;
}

.carousel .info > * {
  display: block;
  line-height: 1.5em;
  font-family: "Muli", sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.carousel .info .title {
  color: #ccc;
  line-height: 1.5em;
  opacity: 0;
}

.carousel .info .ep_num_title {
  color: #ccc;
  font-size: 0.9em;
  line-height: 1.6em;
  opacity: 0;
}
.carousel .info .ep_num_title a {
  color: #ccc;
  font-size: 0.9em;
}

.carousel .info .ep_title {
  border-left: 1px solid #ccc;
  margin-left: 5px;
  padding-left: 5px;
  box-shadow: inset 6px 0 3px -5px rgba(0, 0, 0, 0.7);
}

.carousel .info .ep_views_coms {
  color: #ccc;
  font-size: 0.7em;
  line-height: 1.8em;
  opacity: 0;
}

.carousel .ep_views_coms span {
  text-shadow: 1px 0px 2px rgba(0, 0, 0, 1);
}

.carousel .info .ep_views_coms > *:before {
  font-family: "FontAwesome";
  margin-right: 3px;
}

.ep_views:before {
  content: "\f06e";
}
.ep_coms:before {
  content: "\f0e5";
}
.time_lapsed:before {
  content: "\f017";
}
.time_lapsed {
  border: 1px solid #ccc;
  padding: 1px 8px;
}

.carousel .info .ep_views_coms > * + * {
  margin-left: 10px;
}

.carousel input[name="switch"] ~ .info {
  transform: scale(0);
}

.carousel input[name="switch"] ~ .info > * {
  opacity: 0;
  margin-left: 0px;
}

.carousel input[name="switch"]:checked + .thumb + .info {
  transform: scale(1);
  transition: 0.5s;
}

.carousel input[name="switch"]:checked + .thumb + .info > * {
  opacity: 1;
  margin-left: 15px;
  transition: all 0.3s;
}

.carousel input[name="switch"]:checked + .thumb + .info .title {
  transition-delay: 0.5s;
}

.carousel input[name="switch"]:checked + .thumb + .info .ep_num_title {
  transition-delay: 0.6s;
}

.carousel input[name="switch"]:checked + .thumb + .info .ep_views_coms {
  transition-delay: 0.7s;
}

.nav_pills {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 5px;
}

.nav_pills span {
  position: relative;
  width: 22px;
  height: 2px;
  background: rgba(204, 204, 204, 0.15);
  display: inline-block;
  cursor: pointer;
  transform: skewX(-45deg);
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.7);
}

.nav_pills span + span {
  margin-left: 1px;
}

.animate:after {
  left: 0;
  top: 0;
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  background: rgba(204, 204, 204, 1);
  transform: skewX(-50deg);
  transform-origin: center left;
  animation: loader 5s ease-in-out;
}

@keyframes loader {
  to {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .carousel {
    width: 98%;
    margin: 1% auto;
    height: auto;
  }
}
