*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

.parent {
  /* margin-inline: 20%; */
  margin-top: 2rem;
}

.parent .card-img-top {
  height: 100%;
  max-width: 230px;
  padding: 5px;
}

.parent .card {
  position: relative;
  cursor: pointer;
  transition: transform 200ms ease;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: 1px solid #8f500747;
}

.parent .card:hover {
  transform: scale(1.009);
}

.parent .card .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  transform: scale(0);
  transition: transform 200ms ease;
}

.parent .card:hover .btn-close {
  transform: scale(1.1);
}

.parent .card:hover > .bookmark {
  display: block !important;
}

.parent .card .bookmark {
  position: absolute;
  top: 5px;
  right: 5px;

  display: none;
}

/* card body */
.parent .card-title {
  margin: 0;
  margin-top: 0.8rem;
}

.parent p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.7rem;
}

.bottom {
  float: right;
}

.btn-place-order {
  text-align: right;
}

.cart-label {
  font-size: 2rem;
}

.for-high-weight {
  font-weight: 900;
}

.btn-checkout {
  font-size: 0.8rem;
  padding: 5px 28px;
  background: #8f4f07;
  border: 1px solid #8f4f07;
}

.btn-checkout:hover {
  background: #8f5007e2;
  border: 1px solid #8f4f07;
}

.cls-btn {
  font-size: 0.7rem;
}

.id {
  font-size: 0.7rem;
}

.img-container {
  height: 100px;
  width: 100px;
}

.summary-desc {
  font-size: 0.8rem;
}

.price-label {
  font-weight: 800;
  font-size: 0.8rem;
}

.table {
  vertical-align: middle;
}

.profile-label {
  font-size: 0.6rem;
  padding: 0;
}

.every-input {
  padding: 8px;
  height: 28px;
  font-size: 0.8rem;
}

.empty-container {
  height: 90vh;
  display: grid;
  place-items: center;
}
