span.error-message {
  position: absolute;
  top: 117px;
  color: red;
  padding: 5px 10px;
  border-radius: 10px;
}

p.error-message {
  position: absolute;
  z-index: 1;
  top: 87px;
  color: red;
  padding: 5px 10px;
  border-radius: 10px;
}
