*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none !important;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

section {
  padding: 50px 5%;
}

.main-footer {
  background: url('../images/footer_bg.svg') no-repeat center center/ cover;
  margin-top: 1rem;

  padding: 50px 2%;

  height: 90vh;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;

  position: relative;
}

.main-footer > div {
  width: auto;
}

/* logo col */
.main-footer .logo-col {
  display: flex;
  align-self: flex-start;
  gap: 1rem;
  cursor: pointer;
  height: auto;
  margin-right: 3rem;
}

.main-footer .logo-col h1 {
  font-size: 0.7rem;
  /* line-height: 1.1rem; */
  letter-spacing: 0.3rem;
  margin-top: 0.5rem;
  sor: pointer;
}

.main-footer .logo-col img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/* contact info col */
.main-footer .contact-title {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
  margin-bottom: 1.3rem;
}

.main-footer .contact-col {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 12%;
  min-width: 200px;
}

.main-footer .contact-col .flex {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin-block: 0.5rem;
}

.main-footer .contact-col .flex i {
  font-size: 1rem;
}

.main-footer .email {
  text-decoration: underline !important;
  cursor: pointer;
  transition: font-weight 0.1s ease;
}

.main-footer .email:hover {
  font-weight: 700;
}

.main-footer .contact-col .flex h1 {
  font-size: 0.6rem;
  margin: 0;
}

.main-footer .flex + h1 {
  color: var(--text-low-opacity);
  margin-left: 2rem;
  line-height: 1rem;
  font-size: 0.6rem;
  font-weight: 400;
}

.main-footer .contact-col .icons-area {
  margin-top: 0.7rem;
  font-size: 1.3rem;

  display: flex;
  justify-content: space-between;

  width: 150px;
}

.main-footer .contact-col .icons-area i {
  transition: transform 0.2s ease;
  cursor: pointer;
}

.main-footer .contact-col .icons-area i:hover {
  transform: translateY(-5px);
}

/* quick-links */

.main-footer .quick-links {
  width: 200px !important;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.main-footer .quick-links-title {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.main-footer .quick-links-title a {
  font-size: 0.7rem;
  color: var(--text-low-opacity);
  transition: text-decoration 0.2s ease;
}

.main-footer .quick-links-title a:hover {
  text-decoration: underline;
}

.main-footer .social,
.main-footer .help-con {
  width: 100px !important;
}

/* social */
.main-footer .social {
  width: 150px !important;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

/* help-con */
.main-footer .help-con {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

/* any-queries */
.main-footer .any-queries {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  width: 300px;
}

.main-footer .any-queries .bottom-area {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-footer .any-queries .bottom-area input {
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 5px 10px;
  color: var(--text-low-opacity);
  font-size: 0.7rem;
}

.main-footer .any-queries .bottom-area textarea {
  height: 66px;
  outline: none;
  border: none;
  padding: 10px;
  color: var(--text-low-opacity);
  border-radius: 3px;
  font-size: 0.7rem;
}

.main-footer .any-queries .bottom-area button {
  border-radius: 5px;
  padding: 5px 0;
  background: transparent;
  border: 1px solid var(--main-color);
  padding: 2px;
  font-size: 0.8rem;
}

.main-footer .any-queries .bottom-area button:hover {
  border: 1px solid var(--main-color);
  background: var(--main-color);
}

/* copyright */
.main-footer .copyright {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translate(-50%);
  font-size: 0.8rem;
  color: var(--white);
  font-weight: 400;
}

.main-footer .bottom-area form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1411px) {
  .main-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: auto;
  }
  .main-footer .any-queries .bottom-area button {
    color: white;
  }
}

@media (max-width: 1067px) {
  .main-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  @media (max-width: 1019px) {
    .main-footer {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 879px) {
    .main-footer {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 639px) {
    .main-footer .copyright {
      bottom: 5px;
      font-size: 0.7rem;
      width: 100%;
      text-align: center;
    }

    .main-footer {
      grid-template-columns: 1fr;
      place-items: center;
      row-gap: 3rem;
    }

    .main-footer > div {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    .main-footer .any-queries {
      width: 100%;
    }

    .main-footer .contact-col .icons-area {
      width: 100%;
      justify-content: space-evenly;
    }
  }
}
