header .offcanvas {
  width: 300px !important;
}

header .nav-link {
  font-size: 0.8rem;
}

header .nav-item:hover {
  color: #8f4f07;
}

header .dropdown-item:active {
  background: none;
  color: #8f4f07;
}

header .change {
  width: 265px;
}

header .navbar-brand {
  display: flex;
  align-items: center;
  gap: 5px;

  position: relative;
  top: 2px;
}

/* btn */
header .btn-brown {
  border: 1px solid #8f4f07;
  background: #8f4f07;
}

header .btn-brown:hover {
  background: #754106;
  border: 1px solid #8f4f07;
}

header .btn-brown:active {
  background: #8f4f07 !important;
}

header .btn-brown:focus {
  background: transparent !important;
  color: black;
}

header .btn-outline-brown {
  border: 1px solid #8f4f07;
  color: black;
}

header .btn-outline-brown:hover {
  background: #8f4f07;
}

header .bi-cart4 {
  vertical-align: middle;
  margin-left: 5px;
}

header .badge {
  font-size: 0.6rem;
}

header .profile {
  margin-inline: 10px;
}

header .login-register {
  margin-inline: 10px;
}

header .btn-register-login {
  border: 2px solid #8f4f07;
  color: black;
}

header .btn-register-login:hover {
  background: #8f4f07;
  border: 2px solid #8f4f07;
}
