*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

.homepage {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow-x: hidden;

  padding-inline: 15%;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.homepage .left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.homepage .left-container h1 {
  font-size: 2.5rem;
  line-height: 2.5rem;

  font-weight: 400;
}

.homepage .left-container h1 span {
  color: var(--main-color);
  font-weight: 900;
}

.homepage .left-container p {
  color: var(--text-low-opacity);
  font-size: 0.8rem;
  width: 70%;
  line-height: 1rem;
}

.homepage .left-container h3 {
  font-family: 'Cabin Sketch', cursive;
  font-size: 2rem;
  color: var(--main-color);
}

.homepage .left-container .button {
  max-width: 40%;
  background: transparent;
  color: var(--pure-black);
  border: 1px solid var(--main-color);

  min-width: 100px;
}

.homepage .left-container .button:hover {
  background: var(--main-color);
  color: var(--white);
}

.homepage .right-container {
  display: grid;
  place-items: center;
}

.homepage .right-container .img-con {
  border-radius: 50%;
  display: grid;
  place-items: center;

  position: relative;
}

.homepage .right-container .img-con::after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 5%;
  width: 90%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  z-index: -1;
  filter: blur(10px);
}

.homepage img {
  background: transparent;
  border-radius: 50%;
  animation: img_rotate 4s 1 forwards ease-in-out;

  width: 100%;
  max-width: 400px;
  height: auto;
}

@keyframes img_rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
.carousel {
  margin: 2rem;
}

.carousel img {
  height: 550px;
  border-radius: 5px;
}

.accordion {
  padding-inline: 25%;
  margin-block: 10rem;
}

.accordion .accordion-header {
  background: red;
}
.accordion .faq-h1 {
  font-family: 'Cabin Sketch', cursive;
}

@media (max-width: 949px) {
  header .navlist {
    position: absolute;
    top: -2000px;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 95vh !important;
    width: 100%;

    background: var(--pure-black);

    z-index: 1;
  }

  header .navlist.open-navlist {
    top: 100%;
    z-index: 2;
  }

  header .navlist li {
    margin: 0 !important;
  }

  header .navlist li a {
    display: inline-block;
    margin: 2rem 0;
    color: var(--white);
  }

  header .btn-container .menu-container {
    display: block;
  }

  header .logo-container .logo-text {
    font-size: 1.8rem;
    font-weight: 1000;
    letter-spacing: 0.2rem;
  }

  .homepage .left-container h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .homepage .left-container h3 {
    font-size: 1.6rem;
  }
}

@media (max-width: 824px) {
  .homepage .left-container h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }

  .homepage .left-container h3 {
    font-size: 1.3rem;
  }

  .homepage .left-container p {
    font-size: 0.7rem;
    width: 70%;
    line-height: 0.8rem;
  }
}

@media (max-width: 658px) {
  .homepage .left-container h1 {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }

  .homepage .left-container h3 {
    font-size: 1.3rem;
  }

  .homepage .left-container p {
    font-size: 0.7rem;
    width: 70%;
    line-height: 0.8rem;
  }
}

@media (max-width: 546px) {
  .homepage {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .homepage .left-container h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  .homepage .left-container h1 span {
    color: var(--main-color);
  }

  .homepage .left-container p {
    color: var(--text-low-opacity);
    font-size: 0.8rem;
    width: 70%;
    line-height: 1rem;
  }

  .homepage .left-container h3 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 2rem;
    color: var(--main-color);
  }

  .homepage .left-container .button {
    max-width: 100%;
    background: transparent;
    color: var(--pure-black);

    min-width: 100px;
  }
}
@media (max-width: 568px) {
  .btn-container .btn {
    display: none;
  }
}

@media (max-width: 485px) {
  header .btn-container .search-container [type='text'] {
    width: 80px;
    padding: 3px 4px;
  }
}
