div.img-control {
  height: 85vh;
  text-align: center;

  display: grid;
  place-content: center;
}

div.img-control img {
  width: 100%;
}

div.empty-list-controller {
  text-align: center;
}

div.empty-list-controller img {
  width: 100%;
  max-width: 600px;
}

.nameOfHeader {
  margin-top: 2rem;
}
