*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

section {
  padding: 50px 5%;
}

div.img-control {
  height: 85vh;
  text-align: center;

  display: grid;
  place-content: center;
}

div.img-control img {
  width: 100%;
}

div.empty-list-controller {
  text-align: center;
}

div.empty-list-controller img {
  width: 100%;
  max-width: 600px;
}

.nameOfHeader {
  margin-top: 2rem;
}
