.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  place-items: center;

  margin-inline: 5%;
  margin-top: 2rem;
}

.parent .card-img-top {
  height: 150px;
  padding: 5px;
}

.parent .card {
  position: relative;
  cursor: pointer;
  transition: transform 200ms ease;
  height: 350px;
  width: 230px !important;

  border: 1px solid #8f500747;
}

.parent .card:hover {
  transform: scale(1.039);
}

.parent .card:hover > .book {
  display: block !important;
}

.parent .card .book {
  position: absolute;
  top: 5px;
  right: 5px;

  display: none;

  z-index: 10;
}

.parent .card .book button {
  border: none;
}

/* card body */
.parent .card-title {
  margin: 0;
  margin-top: 0.8rem;
}

.parent p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.btn-down {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.main-ads .carousel {
  height: 600px;
}

/* .search-container .btn-search {
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
}

.search-container .btn-search:hover {
  color: white;
} */

.search-container {
  display: flex;
  justify-content: end;

  width: 50%;
  margin-bottom: 2rem;
}

.main-products {
  display: grid;
  grid-template-columns: 300px 1fr;

  margin-inline: 10%;
}

.main-products .left .btn {
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
}

.main-products .search-filter label {
  font-size: 1.1rem;
  cursor: pointer;
}

.main-products .search-filter {
  display: flex;
  flex-direction: column;

  border-top: 1px solid #8f500747;

  padding: 10px;
}

.main-products .search-filter .btn {
  margin-top: 20px;
}

.navigation .pagination {
  margin-top: 2rem;
}

.dropdown-center {
  border-top: 1px solid #8f500747;

  padding: 10px;
}

.dropdown-center .dropdown-menu .dropdown-item {
  cursor: pointer;
  width: 200px;
}

.dropdown-center .dropdown-toggle:focus {
  color: black;
  vertical-align: center;
}

.dropdown-center .dropdown-toggle::after {
  vertical-align: middle;
}

.dropdown-center .dropdown-menu .dropdown-item:hover {
  background: brown;
  color: white;
  border-radius: 5px;
}

.btn-brown {
  border: 1px solid #8f4f07;
  background: hsl(32, 91%, 29%);
}

.btn-brown:hover {
  background: #754106;
  border: 1px solid #8f4f07;
}

.btn-brown:active {
  background: #8f4f07 !important;
}

.btn-brown:focus {
  background: transparent !important;
  color: black;
}

.main-products .sort-price {
  border-top: 1px solid #8f500747;
  border-bottom: 1px solid #8f500747;

  padding: 10px;
}

.main-products .sort-price .btn-filter {
  margin-top: 1rem;
}

.main-products .sort-price input {
  width: 276px;
  padding: 5px 10px;
  border: 1px solid #8f4f07;
  border-radius: 5px;
}

.main-products .sort-price .form-select-sm {
  width: 135px;
  margin-bottom: 10px;
}
