.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  place-items: center;

  margin-inline: 5%;
  margin-top: 2rem;
}

.card-img-top {
  height: 150px;
  padding: 5px;
}

.card {
  position: relative;
  cursor: pointer;
  transition: transform 200ms ease;
  height: 350px;
  width: 230px !important;
}

.card:hover {
  transform: scale(1.039);
}

.btn-primary {
  position: relative;
}

.parent .card .bookmark {
  position: absolute;
  top: 5px;
  right: 5px;
}

/* card body */
.card-title {
  margin: 0;
  margin-top: 0.8rem;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.8rem;
}

.btn {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.carousel {
  height: 600px;
}

.btn-search {
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
}

.btn-search:hover {
  color: white;
}

.search-container {
  display: flex;
  justify-content: end;
}

.main-products {
  display: grid;
  grid-template-columns: 300px 1fr;

  margin-inline: 10%;
}

.main-products .left {
  border: 1px solid red;
}

.main-products .left .btn {
  position: relative;
  bottom: 0;
  left: 0;
  color: white;
}

.main-products .search-filter label {
  font-size: 1.5rem;
  cursor: pointer;
}

.main-products .search-filter {
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  padding: 10px;
}

.main-products .search-filter .btn {
  margin-top: 20px;
}

.pagination {
  margin-top: 2rem;
}

.dropdown-center {
  padding: 10px;
}

.dropdown-menu .dropdown-item {
  cursor: pointer;
  width: 200px;
}

.dropdown-menu .dropdown-item:hover {
  background: brown;
  color: white;
  border-radius: 5px;
}

.btn-brown {
  border: 1px solid #8f4f07;
  background: hsl(32, 91%, 29%);
}

.btn-brown:hover {
  background: #754106;
  border: 1px solid #8f4f07;
}

.btn-brown:active {
  background: #8f4f07 !important;
}

.btn-brown:focus {
  background: transparent !important;
  color: black;
}
