:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

.left {
  min-width: 230px !important;
  background: #8f500730;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
}

.left * {
  color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #8f4f07;
  text-align: left;
}

.nav-pills .nav-link {
  text-align: start;
}

.nav-link:focus,
.nav-link:hover {
  color: unset;
}

.bi-info-circle {
  position: relative;
  top: -4px;
}

.username-label {
  font-size: 13px;
}

.btns {
  text-align: end;
}

.btn-edit,
.btn-save {
  width: 100px;
}

.inside-personal-information {
  width: 800px;
  margin-left: 1rem;
}

.profile-container {
  text-align: center;
}

.profile-container img {
  border-radius: 50%;
  height: 150px;
  width: 150px;

  border: 1px solid #8f4f07;
  padding: 1rem;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.badge {
  font-size: 10px;
}

.bi-heart-fill,
.bi-cart4 {
  cursor: pointer;
}

.bi {
  margin-right: 5px;
}

.bi-chat-square {
  margin-right: 10px;
}

.profile-upload {
  width: 300px;
}

.profile-file-container {
  display: flex;
  justify-content: center;
  margin-block: 10px;
}

.btn-delete {
  color: red;
  margin-bottom: 1rem;
}
.btn-delete:hover {
  background: red;
  color: black;
}

.btn-logout {
  border-top: 2px solid black;
}

.profile-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.default_pfp {
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

.img-area {
  position: relative;
}

.bi-pencil-square {
  position: absolute;
  bottom: 80px;
  right: 51px;
  cursor: pointer;
}

.profile-section {
  width: 55vw;
}

.profile-label {
  font-size: 0.8rem;
  margin-top: 1rem;
  padding: 0;
}
