:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

.left {
  min-width: 230px !important;
  background: #8f500730;
  border-radius: 10px;
  display: flex;
  gap: 0.5rem;
}

.left * {
  color: black;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #8f4f07;
  text-align: left;
}

.nav-pills .nav-link {
  text-align: start;
  font-size: 0.8rem;
  padding: 7px;
  padding-left: 1rem;
}

.nav-link:focus,
.nav-link:hover {
  color: unset;
}

.bi-info-circle {
  position: relative;
  top: -4px;
}

.username-label {
  font-size: 13px;
}

.btns {
  text-align: end;
}

.btn-edit,
.btn-save {
  width: 100px;
}

.inside-personal-information {
  width: 800px;
  margin-left: 1rem;
}

.profile-container {
  text-align: center;
}

.profile-container img {
  border-radius: 50%;
  height: 150px;
  width: 150px;

  border: 1px solid #8f4f07;
  padding: 1rem;
  cursor: pointer;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.badge {
  font-size: 10px;
}

.bi-heart-fill,
.bi-cart4 {
  cursor: pointer;
}

.bi {
  margin-right: 5px;
}

.bi-chat-square {
  margin-right: 10px;
}

.profile-upload {
  width: 300px;
}

.profile-file-container {
  display: flex;
  justify-content: center;
  margin-block: 10px;
}

.btn-delete {
  color: red;
  margin-bottom: 1rem;
}
.btn-delete:hover {
  background: red;
  color: black;
}

.btn-logout {
  border-top: 2px solid black;
}

.profile-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

.default_pfp {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.img-area {
  position: relative;
}

.btn-for-delete-pfp {
  position: absolute;
  bottom: 39px;
  right: 4px;
  cursor: pointer;
  background: transparent;
  border: none;
}

.profile-section {
  width: 55vw;
}

.name-of-user {
  font-size: 0.9rem;
}

.every-input {
  padding: 8px;
  height: 34px;
  font-size: 0.8rem;
}

.btn-edit-profile {
  font-size: 0.8rem;
  padding: 5px 28px;
  background: #8f4f07;
  border: 1px solid #8f4f07;
}

.btn-edit-profile:hover {
  border: 1px solid #8f4f07;
  background: #8f5007d6;
}

.profile-label {
  font-size: 0.6rem;
}

.col-form-label {
  padding-top: 0px;
  padding-bottom: 0px;
}

.select-container {
  font-size: 0.7rem;
}

.form-label {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.btn-option {
  font-size: 0.7rem;
  padding: 5px 30px;
}

.btn-save {
  background: #8f4f07;
  border: 1px solid #8f4f07;
}

.btn-save:hover {
  background: #8f5007ef;
  border: 1px solid #8f4f07;
}

.btn-save:focus {
  background: #8f4f07;
}

.cls-btn {
  font-size: 0.7rem;
}

.fs-5 {
  font-size: 0.8rem !important;
}

.btn-for-logout {
  cursor: pointer;
  width: 100%;
}

.btn-for-logout:hover {
  background: #8f5007cd;
  color: white;
}

.alert-success,
.alert-danger {
  height: 30px;
}

.p-error {
  font-size: 0.8rem;
  position: relative;
  top: -8px;
}

.alert-dismissible .btn-close {
  top: -10px;
  font-size: 0.7rem;
}

.alert-dismissible .btn-close:hover {
  box-shadow: unset;
}

.badge {
  font-size: 0.5rem !important;
}

.badge-for-bookmarks {
  left: 108px !important;
  top: 7px !important;
  color: white;
}

.parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.3rem;
  place-content: center;
  margin-inline: 5%;
  margin-top: 2rem;
  width: 600px;
}

.parent .card-img-top {
  height: 115px;
  padding: 5px;
}

.parent .card {
  position: relative;
  cursor: pointer;
  transition: transform 200ms ease;
  width: 180px !important;
  border: 1px solid #8f500747;
}

.parent .card:hover {
  transform: scale(1.039);
}

.parent .card:hover > .book {
  display: block !important;
}

.parent .card .book {
  position: absolute;
  top: 5px;
  right: 5px;

  display: none;

  z-index: 10;
}

.parent .card .book button {
  border: none;
}

/* card body */
.parent .card-title {
  margin: 0;
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

.parent p {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.6rem;
  margin-bottom: 0.5rem;
}

.h4,
h4 {
  font-size: 0.9rem;
}

.card-body {
  height: 130px;
}
