*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
  font-family: 'Nunito', sans-serif;
}

:root {
  --white: #f5f1ee;
  --pure-black: black;
  --dark-black: #58626c;
  --main-color: #8f4f07;
  --text-low-opacity: rgba(0, 0, 0, 0.563);
}

section {
  padding: 50px 5%;
}

/* Globals */
/* .our_team_section body {
  font-family: "Inter", sans-serif;
  max-width: 55rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
  color: #ff00ee;
  background: #00aaff;
} */

.our_team_section {
  height: auto;
  z-index: -1;
}

.our_team_section * {
  z-index: 1;
}

.our_team_section .profile {
  border-radius: 10px !important;
}

.our_team_section h1 {
  font-weight: 900;
  font-size: 2.7rem;
  /* max-width: 20ch; */
  text-align: center;
}

.our_team_section p {
  text-align: center;
}

.our_team_section .profile__name {
  color: var(--white);
}

.our_team_section p.pos {
  font-size: 0.7rem !important;
}

.our_team_section a {
  color: currentcolor;
}

/* Utilities */
.our_team_section .auto-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--auto-grid-min-size, 14rem), 1fr)
  );
  grid-gap: var(--auto-grid-gap, 0);
  padding: 0;

  gap: 2rem;
}

.our_team_section .flow > * + * {
  margin-top: var(--flow-space, 1em);
}

/* Composition */
.our_team_section .team {
  --flow-space: 2em;
}

/* Blocks */
.our_team_section .profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  aspect-ratio: 1/1;
  position: relative;
  padding: 1.5rem;
  color: #ffffff;
  backface-visibility: hidden;
  text-decoration: none;
  overflow: hidden;
}

.our_team_section .profile::before,
.our_team_section .profile::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  /*inset: 0;*/
  top: 0;
  left: 0;
}

.our_team_section .profile::before {
  background: linear-gradient(
    to top,
    hsl(0 0% 0% / 0.79) 0%,
    hsl(0 0% 0% / 0.787) 7.8%,
    hsl(0 0% 0% / 0.779) 14.4%,
    hsl(0 0% 0% / 0.765) 20.2%,
    hsl(0 0% 0% / 0.744) 25.3%,
    hsl(0 0% 0% / 0.717) 29.9%,
    hsl(0 0% 0% / 0.683) 34.3%,
    hsl(0 0% 0% / 0.641) 38.7%,
    hsl(0 0% 0% / 0.592) 43.3%,
    hsl(0 0% 0% / 0.534) 48.4%,
    hsl(0 0% 0% / 0.468) 54.1%,
    hsl(0 0% 0% / 0.393) 60.6%,
    hsl(0 0% 0% / 0.31) 68.3%,
    hsl(0 0% 0% / 0.216) 77.3%,
    hsl(0 0% 0% / 0.113) 87.7%,
    hsl(0 0% 0% / 0) 100%
  );
  transition: 300ms opacity linear;
}

.our_team_section .profile::after {
  background: linear-gradient(
    45deg,
    hsl(5 97% 63% / 0.7) 0,
    hsl(5 97% 63% / 0) 100%
  );
  opacity: 0;
  transition: 300ms opacity linear;
}

.our_team_section .profile > * {
  z-index: 1;
}

.our_team_section .profile img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  object-fit: cover;
  filter: grayscale(1);
  transition: filter 200ms ease, transform 250ms linear;
}

.our_team_section .profile h2,
.our_team_section .profile p {
  transform: translateY(2ex);
}

.our_team_section .profile h2 {
  font-size: 1.7rem;
  line-height: 1.2;
  font-weight: 900;
  letter-spacing: 0.03ch;
  transition: 300ms transform ease;
}

.our_team_section .profile p {
  font-size: 1.2rem;
  font-weight: 500;
}

.our_team_section .profile p {
  opacity: 0;
  transition: 300ms opacity linear, 300ms transform ease-in-out;
}

.our_team_section .profile:focus {
  outline: 0.5rem solid white;
  outline-offset: -0.5rem;
}

.our_team_section .profile:hover :is(h2, p),
.our_team_section .profile:focus :is(h2, p) {
  transform: none;
}

.our_team_section .profile:hover::after,
.our_team_section .profile:focus::after,
.our_team_section .profile:hover::before,
.our_team_section .profile:focus::before {
  opacity: 0.7;
}

.our_team_section .profile:hover p,
.our_team_section .profile:focus p {
  opacity: 1;
  transition-delay: 200ms;
}

.our_team_section .profile:hover img,
.our_team_section .profile:focus img {
  filter: grayscale(0);
  transform: scale(1.05) rotate(1deg);
}
