.cart {
  height: auto;
  width: 100%;

  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  gap: 1rem;
}

.nameOfHeader {
  text-align: center;
  font-size: 3rem;
}

.cart .box {
  position: relative;

  height: 130px;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;

  border-radius: 10px;
}

.top img {
  height: 130px;
  width: 95%;
}

.cart form {
  position: absolute;
  top: 1%;
  right: 1%;

  cursor: pointer;
  font-size: 1.2rem;
  transition: 0.2s;
}

.cart .x-icon-for-cart {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.2rem;
  position: relative;
}

.addToCart {
  position: absolute;
  left: -98px;
  bottom: -120px;
}

.editBtn {
  position: absolute;
  left: -202px;
  bottom: -210px;
}

.cart .bottom button {
  margin-top: 0.5rem;
  border-radius: 10px;
  border-width: 1px;
  padding: 5px 0;
  cursor: pointer;
  width: 100px;
}



.cart .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10px;
  height: 100%;
}

.cart .bottom p {
  color: var(--text-low-opacity);
  font-size: 0.8rem;
}

.cart .bottom button:hover {
  background-color: var(--main-color);
  color: var(--white);
}
